openapi: 3.2.0
info:
  description: '# Using the API


    ## Authentication

    Authentication is managed using an API key, which is provided to you.'
  version: '2.0'
  title: APEXX FINTECH SERVER-SIDE ENCRYPTION API
  license:
    name: Apexx Fintech Ltd
    url: https://www.apexxfintech.com/legal-documentation/
servers:
- url: https://sandbox.apexx.global/atomic/v1/
tags:
- name: SERVER-SIDE ENCRYPTION
  description: Server Side Encryption Controller
paths:
  '/api/encryptedpayload        ':
    post:
      tags:
      - SERVER-SIDE ENCRYPTION
      summary: Get Encrypted Payload
      description: Creates encrypted payload for the data sent in the request. Data should be sent in json format and supports key:value pair. Nested key value pairs are allowed.
      operationId: EncryptedPayloadUsingPOST
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EncryptedPayloadResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptedPayloadRequestDTO'
        description: ' '
components:
  schemas:
    Errors:
      type: object
      properties:
        error_code:
          type: integer
          format: int32
          description: Error Code
        property:
          type: string
          description: 'Property on which error occurs. e.g : it can be class name , field name'
        error_message:
          type: string
          description: Error message
    FailureResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    EncryptedPayloadResponseDTO:
      type: object
      properties:
        encryptedKey:
          type: string
          description: Encrypted key associated to the encrypted payload.
        encryptedPayload:
          type: string
          description: Encrypted payload of all the fields sent in the request.
    EncryptedPayloadRequestDTO:
      type: object
      properties:
        key1:
          type: string
          description: Value
        key2:
          type: string
          description: Value
        key3:
          type: string
          description: Value
