openapi: 3.2.0
info:
  description: '# Using the API


    ## Authentication

    Authentication is managed using an API key, which is provided to you.'
  version: '2.0'
  title: APEXX FINTECH STANDALONE SERVICES API
  license:
    name: Apexx Fintech Ltd
    url: https://www.apexxfintech.com/legal-documentation/
servers:
- url: https://sandbox.apexx.global/atomic/v1/
tags:
- name: STANDALONE SERVICES
paths:
  /api/bincheck:
    post:
      tags:
      - STANDALONE SERVICES
      summary: Validate BIN
      description: BIN Inspector returns Issuer information. Please contact your Implementation Manager to enable this service.
      operationId: checkBinUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BinResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BinRequestDTO'
        description: binRequestDTO
        required: true
components:
  schemas:
    BinIssuerCountry:
      type: object
      properties:
        alpha2:
          type: string
          description: Two-letter ISO country code identifying the country of issuance.
        alpha3:
          type: string
          description: Three-letter ISO country code identifying the country of issuance.
        name:
          type: string
          description: Country name of the issuance.
        numeric:
          type: string
          description: Issuer country code number.
    BinResponseDTO:
      type: object
      properties:
        bin_number:
          type: string
          description: First 6 digits of a card number (BIN/IIN)
        brand:
          type: string
          description: Brand of the card e.g. classic, standard.
        issuer:
          type: string
          description: Bank name of the issuance.
        issuer_country:
          $ref: '#/components/schemas/BinIssuerCountry'
        scheme:
          type: string
          description: The card Scheme e.g. MasterCard, Visa or Maestro.
        type:
          type: string
          description: Funding type of the card e.g. Debit, Credit.
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    Errors:
      type: object
      properties:
        error_code:
          type: integer
          format: int32
          description: Error Code
        property:
          type: string
          description: 'Property on which error occurs. e.g : it can be class name , field name'
        error_message:
          type: string
          description: Error message
    BinRequestDTO:
      type: object
      required:
      - bin
      - organisation
      properties:
        organisation:
          type: string
          description: The ID of an organisation.
        bin:
          type: string
          description: First 6 or 8 digits of a card number (BIN/IIN)
    FailureResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
