openapi: 3.2.0
info:
  description: '# Using the API


    ## Authentication

    Authentication is managed using an API key, which is provided to you.'
  version: '2.0'
  title: APEXX FINTECH Transaction Payment API
  license:
    name: Apexx Fintech Ltd
    url: https://www.apexxfintech.com/legal-documentation/
servers:
- url: https://sandbox.apexx.global/atomic/v1/
tags:
- name: Transaction Payment
paths:
  /api/3ds/authenticate:
    post:
      tags:
      - Transaction Payment
      summary: 3DS Verify Authentication Request
      description: Verifies 3DS Authentication. This verifies if the 3DS enrolled card was authenticated and proceeds with the payment authorisation after successful 3DS Authentication.
      operationId: threeDsVerifyAuthUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      - name: ORG-ID
        in: header
        description: ORG-ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThreeDsAuthenticationResponse'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThreeDsAuthenticationFailResponse'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsVerifyAuthRequestDTO'
        description: ' '
  '/api/payment  ':
    post:
      tags:
      - Transaction Payment
      summary: Encrypted Card Transaction
      description: Starts a new transaction with encrypted payload
      operationId: encryptedCardTransactionUsingPOST
      parameters:
      - name: EncryptedKey
        in: header
        description: Required when request body is encrypted
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThreeDsAuthenticationResponse'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThreeDsAuthenticationFailResponse'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptedCardDTO'
        description: '  '
  '/api/payment   ':
    post:
      tags:
      - Transaction Payment
      summary: Authorises Payment Request
      description: Authorise Payment Request. This provides a single interface for APM, Card and other payment methods. Method accepts payment request in encrypted or in clear text. In all cases Organisation and Currency or Account is required.
      operationId: authorizePaymentRequestUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThreeDsAuthenticationResponse'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThreeDsAuthenticationFailResponse'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
        description: ' '
components:
  schemas:
    BillingAddress:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the card holder.
        last_name:
          type: string
          description: Last name of the card holder.
        email:
          type: string
          description: 'Email address of the card holder.


            Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(â€˜)'
        address:
          type: string
          description: Street address of the card holder.
        city:
          type: string
          description: City of the card holder.
        state:
          type: string
          description: A region / state / province for the address.
        postal_code:
          type: string
          description: 'A postal code for the address.


            Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and spaces.'
        country:
          type: string
          description: "A 2-letter ISO3166 alpha-2. country code for the address. \n\nNote: Alphabets upto two characters (e.g. GB, RU etc..)"
        phone:
          type: string
          description: 'Numbers only, no dash or any other separator.


            Note: Length - min(3) & max(20)'
    VehicleInformation:
      type: object
      properties:
        identification_number:
          type: string
          description: This field contains a unique identifier assigned by the company to the vehicle.
        vehicle_make:
          type: string
          description: Make of the vehicle being rented (e.g., Chevrolet or Ford).
        vehicle_class:
          type: string
          description: Classification of the rented auto.
          enum:
          - MINI
          - SUBCOMPACT
          - ECONOMY
          - COMPACT
          - MIDSIZE
          - INTERMEDIATE
          - STANDARD
          - FULL_SIZE
          - LUXURY
          - PREMIUM
          - MINIVAN
          - VAN_12_PASSENGERS
          - MOVING_VAN
          - VAN_15_PASSENGERS
          - CARGO_VAN
          - TRUCK_12_FOOT
          - TRUCK_20_FOOT
          - TRUCK_24_FOOT
          - TRUCK_26_FOOT
          - MOPED
          - STRETCH
          - REGULAR
          - UNIQUE
          - EXOTIC
          - SMALL_OR_MEDIUM_TRUCK
          - LARGE_TRUCK
          - SMALL_SUV
          - MEDIUM_SUV
          - LARGE_SUV
          - EXOTIC_SUV
          - MISCELLANEOUS
    RuleDTO:
      type: object
      properties:
        decision:
          type: string
        name:
          type: string
    PspgwRouteInformation:
      type: object
      properties:
        apexx_name:
          type: string
          description: Name of the psp as setup within the APEXX payment gateway.
        merchant_code:
          type: string
        name:
          type: string
        psp_id:
          type: string
          description: The ID of the payment service provider.
        sequence:
          type: integer
          format: int32
    CardDetailsWithApm:
      type: object
      properties:
        card_holder_name:
          type: string
          description: Name of the card holder as printed on the card.
        card_number:
          type: string
          description: The new card number, also known as PAN.
        cvv:
          type: string
          description: 'The Card Verification Value. Note: CVV is not required when transaction is a recurring or oneclick transaction.'
        expiry_month:
          type: string
          description: Card expiry month. A string representing the month, valid values are 01 to 12.
        expiry_year:
          type: string
          description: Card expiry year. A string representing the last two digits of the year, e.g. 19 for 2019.
        token:
          type: string
          description: The token representing the payment card.
        create_token:
          type: string
          description: Whether to create a token or not for the card. Defaults to 'false'. Setting it to 'true' will create the token for the card.
        encrypted_data:
          type: string
          description: This field will contain the encryption data of card_number, expiry_month, expiry_year and cvv fields. Encryption data generated by client-side-encryption SDK.
        tokenise_status:
          type: string
          description: Status of the transactions when cards should be tokenised.
          enum:
          - AUTHORISED
          - CAPTURED
          - FAILED
          - DECLINED
        initial_scheme_transaction_id:
          type: string
          description: The unique scheme transaction Id returned during customer initiated transaction. This value will be required when recurring_type is "mit"
        googlepay:
          description: GooglePay
          $ref: '#/components/schemas/GooglePay'
        applepay:
          description: ApplePay
          $ref: '#/components/schemas/ApplePay'
        network_token:
          description: Network token.
          $ref: '#/components/schemas/NetworkToken'
    ThreeDsAuthenticationFailResponse:
      type: object
      required:
      - amount
      - card
      - merchant_reference
      properties:
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: string
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        authorization_code:
          type: string
          description: An authorisation code assigned by the processing platform
        blocked:
          type: boolean
          example: false
          description: True if the transaction has been blocked by a ruleset, false otherwise
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        card:
          description: The new card number, also known as PAN.
          $ref: '#/components/schemas/RiskCheckCardDetails'
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        customer_ip:
          type: string
          description: The IP address of the customer
        pares:
          type: string
          description: The unmodified PaRes value as received after the customer was redirected back from 3DS Authentication.
        recurring_type:
          type: string
          description: The value used to flag how the acquirer/ issuer should consider the transaction
          enum:
          - first
          - recurring
          - oneclick
          - mit
          - cit
          - install
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        actions:
          type: array
          items:
            type: string
        created_at:
          type: string
          description: The time at which the transaction was created
        cvv_present:
          type: boolean
          example: false
          description: True if the card was used with a cvv
        fees:
          type: array
          items:
            type: integer
            format: int32
        geo_locations:
          type: array
          description: The latitude/longitude resolved from the customer's ip address
          items:
            type: integer
            format: int32
        fraud_predictions:
          type: array
          items:
            $ref: '#/components/schemas/FraudPredictions'
        last_status_update:
          type: string
          description: The last time when the status of the transaction was updated
        card_brand:
          type: string
          description: Card brand for the card used for processing
          enum:
          - amex
          - diners
          - discover
          - elo
          - jcb
          - maestro
          - mastercard
          - visa
          - visa electron
          - carte bancaire
        issuer_name:
          type: string
          description: Card Issuer Name for this transaction
        delivery_address:
          description: Some fields may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information.
          $ref: '#/components/schemas/deliveryAddress'
        issuer_country:
          type: string
          description: Issuing country of the card. A 2-letter ISO3166 alpha-2. Acquirer country code
        organisation_psp_name:
          type: string
          description: The name of the processor as setup within the APEXX payment gateway. i.e. Merchant Name - Acquirer Name
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see **[reason codes](#section/Appendix)** section for declined scenarios and **[error codes](#section/Appendix)** section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
        status:
          type: string
          description: Status of the transaction.
          enum:
          - FAILED
        details:
          $ref: '#/components/schemas/Details'
        payment product = "card":
          type: string
          description: The payment product corresponding to this transaction
        billing_address:
          description: Billing address details for the customer
          $ref: '#/components/schemas/BillingAddress'
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        cvv_result:
          type: string
          description: CVV verification result, as returned by the processor.
        avs_result:
          type: string
          description: Address verification services result, as returned by the processor
        three_ds:
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
          $ref: '#/components/schemas/ThreeDSCardEnrolRequest'
        acquirer_name:
          type: string
          description: The name of the acquirer as setup within the APEXX payment gateway.
        merchant_data:
          description: Merchant Data
          $ref: '#/components/schemas/MerchantData'
        cascade_successful:
          type: boolean
          example: false
          description: True if the transaction was cascaded, false if transaction when transaction failed to cascade and null if cascading was not attempted.
        device_information:
          description: deviceInformation
          $ref: '#/components/schemas/deviceInformation'
        webhook:
          description: WebhookResponse
          $ref: '#/components/schemas/WebhookResponse'
        preauth_check:
          $ref: '#/components/schemas/PreauthCheck'
        external_risk_data:
          description: ExternalRiskData
          $ref: '#/components/schemas/FraudCheckResponse'
        routing:
          type: array
          description: RouteInformation
          items:
            $ref: '#/components/schemas/PspgwRouteInformation'
        cascaded_psps:
          type: array
          description: Cascaded psp's
          items:
            $ref: '#/components/schemas/PspInformation'
        psp_info:
          description: PspInformation
          $ref: '#/components/schemas/PspInformation'
        tra_exemption:
          type: string
          description: "\"This indicates that exemption from SCA is requested for the transaction. Valid values as mentioned below:\n\n \"\"external\"\" - Transaction risk analysis conducted by approved external source\n\n \"\"acquirer\"\" - Transaction risk analysis conducted by the acquirer\n\n \"\"scp\"\" - scp stands for Secure Corporate Payment\n\n \"\"lvp\"\" - lvp stands for Low-Value Payment\n\n \"\"delegated\"\" - Exemption indicator for delegated authentication.\n\n This flag specifies whether the transaction is exempt from strong customer authentication (SCA) requirements in Europe because the authentication was delegated to a different provider, such as an acquirer or payment technology provider (PTP).\""
        authorisation_mid:
          type: string
          description: The authorisation mid used to process the transaction as setup within the APEXX payment gateway.
        settlement_mid:
          type: string
          description: The settlement mid used to process the transaction as setup within the APEXX payment gateway.
        pos_data_code:
          type: string
        request_id:
          type: string
          description: Unique Id for each request.
        duplicate_check:
          type: string
          description: This is the duplicate check of request, 'true' in case of request is duplicate
        customer:
          description: customer
          $ref: '#/components/schemas/AuthorisePaymentCustomer'
        response_code:
          type: string
          description: Response code is sent only when the source of the response looks suspicious. In this case Apexx immediately cancels the transaction placed with the gateway.
        airline_data:
          description: airlineData
          $ref: '#/components/schemas/airlineData'
        travel_data:
          description: Travel data - data relating to hotel bookings, cruise/trip details/car rental/accomodation rental
          $ref: '#/components/schemas/travelData'
        payment_product_type:
          type: string
          description: The payment product type corresponding to this transaction
          enum:
          - Amex
          - Diners Club International
          - Discover
          - Elo
          - JCB
          - Maestro
          - Mastercard
          - Visa
          - Visa Electron
        response_message:
          type: string
          description: A description of the response_code.
        transaction_chargeback:
          description: TransactionChargeback
          $ref: '#/components/schemas/TransactionChargeback'
        card_type:
          type: string
          description: Funding type of the card e.g. Debit, Credit
        mastercard_settlement_date:
          type: string
          description: Mastercard settlement date received from Acquirer
        aft_type:
          type: string
          description: 'Type of Account Funding transaction.


            SVWF - Stored value wallet funding


            SDWT - Staged digital wallet pre-funding


            A2A - Account-to-account (me-to-me) money transfer


            P2P - Person-to-Person (P2P) money transfer


            CLA - Cryptocurrency and liquid assets


            BIT - Financial Institution offe red Bank-Initiated P2P Money Transfer


            FD - Funds Disbursement


            FT - Funds Transfer


            PD - Payroll Disbursement


            PL - Prepaid load / reload2


            B2B - Business to Business


            CBP - Card Bill Payment


            GP - Gambling Payouts


            GFD - General funds disbursement


            GD - Government Disbursement


            LP - Loyalty Payments


            MD - Funding small business disbursements


            MP - Merchant Payment


            NCBP - Non card bill payment


            OGP - Online gaming payout


            ZDA - Zero dollar authorisation


            TO - Top off'
          enum:
          - SVWF
          - SDWT
          - A2A
          - P2P
          - CLA
          - BIT
          - FD
          - FT
          - PD
          - TPL
          - B2BCBP
          - GP
          - GFD
          - GD
          - LP
          - MD
          - MP
          - NCBP
          - OGP
          - ZDA
          - TO
        installment_information:
          description: Please note that the specific request here will override any general configuration that is set against your MID. by the acquirer. This does not apply to AMEX where the config at the MID takes priority
          $ref: '#/components/schemas/InstallmentInformation'
    Car:
      type: object
      properties:
        program_code:
          type: string
          description: 'Used to identify special circumstances applicable to the Card Transaction or Cardholder, such as "renter” or ”show”

            This code is 2 digit value agreed by Merchant and processor.'
        rental_information:
          description: Auto rental information
          $ref: '#/components/schemas/RentalInformation'
        driver_age:
          type: integer
          format: int32
          description: Age of the driver renting the vehicle.
        number_of_additional_drivers:
          type: integer
          format: int32
          description: The number of additional drivers included on the rental agreement not including the individual who signed the rental agreement.
        vehicle_information:
          description: Rented vehicle information
          $ref: '#/components/schemas/VehicleInformation'
        max_free_distance:
          type: string
          description: Maximum number of free miles or kilometers allowed to a customer for the duration of the auto rental agreement.
        insurance_indicator:
          type: boolean
          example: false
          description: 'Insurance purchased

            true - Yes (insurance was purchased)

            false - No (insurance was not purchased)'
        distance:
          description: Details on the distance of the auto rental
          $ref: '#/components/schemas/Distance'
        odometer_reading:
          type: string
          description: Odometer reading at time of vehicle rental.
        tax_details:
          type: array
          description: Tax details of the auto rental
          items:
            $ref: '#/components/schemas/CarTaxDetail'
        rental_charges:
          description: Rental charges information
          $ref: '#/components/schemas/RentalCharges'
        company_name:
          type: string
          description: Merchant to send their auto rental company name
        affiliate_name:
          type: string
          description: When merchant wants to send the affiliate name.
    RentalCharges:
      type: object
      properties:
        one_waydrop_off_amount:
          type: string
          description: Extra charges incurred for a one-way rental agreement for the auto.
        adjusted_amount:
          description: Adjusted amount details
          $ref: '#/components/schemas/AdjustedAmount'
        fuel_charges:
          type: string
          description: Extra gasoline charges that extend beyond the basic rental agreement
        weekly_rental_rate:
          type: string
          description: 'Weekly Rental Amount provides the amount charged for a seven-day rental period.

            Time Period needs to be populated with Weekly if this field is present'
        daily_rental_rate:
          type: string
          description: 'Daily auto rental rate charged.

            Time Period needs to be populated with Daily if this field is present'
        rate_per_mile:
          type: string
          description: Rate charged for each mile.
        mileage_charge:
          type: string
          description: Regular Mileage Charge provides the amount charged for regular miles travelled during vehicle rental. Two decimal places
        extra_mileage_charge:
          type: string
          description: Extra mileage charges that extend beyond the basic rental agreement.
        late_fee_amount:
          type: string
          description: Extra charges related to a late return of the rented auto
        towing_charge:
          type: string
          description: Towing Charges provides the amount charged to tow the rental vehicle.
        extra_charge:
          type: string
          description: Extra Charges provides the extra charges associated with the vehicle rental.
        gps_charge:
          type: string
          description: Amount charged for renting a Global Positioning Service (GPS).
        phone_charge:
          type: string
          description: Additional charges incurred for phone usage included on the total bill.
        parking_violation_charge:
          type: string
          description: Extra charges incurred due to a parking violation for the auto.
        other_charges:
          type: string
          description: Total amount charged for all other miscellaneous charges not previously defined.
    InstallmentInformation:
      type: object
      properties:
        plan_type:
          type: string
          description: "Flag that indicates the type of funding for the installment plan associated with the payment. \n\n This is an optional field for most processors; however, it is mandatory if your processor is PROSA. Please speak to your Implementation Manager for further information."
          enum:
          - merchant funded
          - issuer funded
          - non promotion
          - skip payment
        total_count:
          type: integer
          format: int32
          description: Total number of installments when making payments in installments.
        sequence:
          type: string
          description: Sequence of installment transaction.
        amount:
          type: string
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        frequency:
          type: string
          description: Frequency of installment transaction.
          enum:
          - 'B : Biweekly'
          - 'M : Monthly'
          - 'W : Weekly'
    Hotel:
      type: object
      properties:
        room:
          description: The object containing the number of nights and the daily rate that applies for that number of nights.
          $ref: '#/components/schemas/Room'
        charge:
          description: 'Indicates the type of charge if it is for an airline ticket or another type of expense. 01: Charge is for an airline ticket. 02: Charge is for an item that is not an airline ticket'
          $ref: '#/components/schemas/Charge'
        tax_detail:
          type: array
          description: Hotel tax details
          items:
            $ref: '#/components/schemas/TaxDetail'
        additional_discount_amount:
          type: string
          description: Amount of an additional coupon or discount.
        adjusted_amount:
          type: string
          description: Adjusted amount charged in addition to the reservation amount after the stay is complete.
    AuthorisePaymentCustomer:
      type: object
      properties:
        account_number:
          type: string
          description: This is the recipient's account number.
        customer_id:
          type: string
          description: The customer_id of recipient's.
        date_of_birth:
          type: string
          description: The date of birth of a customer, 10 characters, ISO-8601 (YYYY-MM-DD).
        last_name:
          type: string
          description: Last name of the customer.
        postal_code:
          type: string
          description: 'This is the recipient''s postcode/zip.


            Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and single space'
    PspInformation:
      type: object
      properties:
        routing_sequence_id:
          type: integer
          format: int32
        psp_id:
          type: string
          description: The ID of the payment service provider.
        psp_name:
          type: string
          description: The name of the payment service provider as setup within the APEXX payment gateway.
        apexx_name:
          type: string
          description: Name of the psp as setup within the APEXX payment gateway.
        acquirer_name:
          type: string
          description: The name of the acquirer as setup within the APEXX payment gateway.
        cascading_acquirer:
          type: string
          description: The name of the acquirer which declined/authorised the cascaded transaction.
        organisation_psp_name:
          type: string
          description: The name of the processor as setup within the APEXX payment gateway. i.e. Merchant Name - Acquirer Name.
        transport_method:
          type: string
        start_time_stamp:
          type: string
        end_time_stamp:
          type: string
        ellapsed_time:
          type: string
        status:
          type: string
          description: The status of the transaction as provided by the psp.
        sub_status:
          type: string
        time_out:
          type: integer
          format: int32
        response_code:
          type: string
          description: The response code received from the payment service provider for the transaction.
        response_message:
          type: string
          description: The response message received from the payment service provider for the transaction.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/PspErrorDTO'
        mid_country:
          type: string
          description: The country setup for the “mid” used to process the transaction as setup within the APEXX payment gateway.
        psp_transaction_reference:
          type: string
          description: The unique id provided by the payment service provider for the transaction.
        category_code:
          type: string
        category_message:
          type: string
        reconciliation_id:
          type: string
          description: Reference number for the transaction generated by the PSP or Acquirer to provide end to end traceability for reconciliation purposes. Only supported by some PSP or Acquirers. Please speak to your implementation number to understand more.
    CybersourceDecisionManagerResponse:
      type: object
      properties:
        clientReferenceInformation:
          $ref: '#/components/schemas/ClientReferenceInformationDTO'
        consumerAuthenticationInformation:
          $ref: '#/components/schemas/ConsumerAuthenticationInformationDTO'
        id:
          type: string
        paymentInformation:
          $ref: '#/components/schemas/PaymentInformationResponseDTO'
        riskInformation:
          $ref: '#/components/schemas/RiskInformationResponseDTO'
        status:
          type: string
        submitTimeUtc:
          type: string
    ThreeDsVerifyAuthRequestDTO:
      type: object
      required:
      - _id
      properties:
        _id:
          type: string
          description: The ID of the transaction
        paRes:
          type: string
          description: "The unmodified PaRes value as received after the customer was redirected back from 3DS Authentication. \n\n **Note:** This field may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information."
        three_ds_authentication:
          description: '


            **Note:** This field is required when 3ds 2.0 is used.'
          $ref: '#/components/schemas/ExternalAuthentication'
        specification_version:
          type: string
          description: "Valid values: \"1.0\", \"2.0\", \"1.0.2\", \"2.1.0\", \"2.2.0\" \n Version of the 3DS which is received from the authentication server. \n\n **Note:** This field is required when 3DS 2.0 falls back to 1.0."
    ThreeDsAuthenticationResponse:
      type: object
      required:
      - amount
      - card
      - merchant_reference
      properties:
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: string
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        authorization_code:
          type: string
          description: An authorisation code assigned by the processing platform
        blocked:
          type: boolean
          example: false
          description: True if the transaction has been blocked by a ruleset, false otherwise
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        card:
          description: The new card number, also known as PAN.
          $ref: '#/components/schemas/RiskCheckCardDetails'
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        customer_ip:
          type: string
          description: The IP address of the customer
        pares:
          type: string
          description: The unmodified PaRes value as received after the customer was redirected back from 3DS Authentication.
        recurring_type:
          type: string
          description: The value used to flag how the acquirer/ issuer should consider the transaction
          enum:
          - first
          - recurring
          - oneclick
          - mit
          - cit
          - install
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        actions:
          type: array
          items:
            type: string
        created_at:
          type: string
          description: The time at which the transaction was created
        cvv_present:
          type: boolean
          example: false
          description: True if the card was used with a cvv
        fees:
          type: array
          items:
            type: integer
            format: int32
        geo_locations:
          type: array
          description: The latitude/longitude resolved from the customer's ip address
          items:
            type: integer
            format: int32
        fraud_predictions:
          type: array
          items:
            $ref: '#/components/schemas/FraudPredictions'
        last_status_update:
          type: string
          description: The last time when the status of the transaction was updated
        card_brand:
          type: string
          description: Card brand for the card used for processing
          enum:
          - amex
          - diners
          - discover
          - elo
          - jcb
          - maestro
          - mastercard
          - visa
          - visa electron
          - carte bancaire
        issuer_name:
          type: string
          description: Card Issuer Name for this transaction
        delivery_address:
          description: Some fields may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information.
          $ref: '#/components/schemas/deliveryAddress'
        issuer_country:
          type: string
          description: Issuing country of the card. A 2-letter ISO3166 alpha-2. Acquirer country code
        organisation_psp_name:
          type: string
          description: The name of the processor as setup within the APEXX payment gateway. i.e. Merchant Name - Acquirer Name
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see **[reason codes](#section/Appendix)** section for declined scenarios and **[error codes](#section/Appendix)** section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
        details:
          $ref: '#/components/schemas/Details'
        payment product = "card":
          type: string
          description: The payment product corresponding to this transaction
        status:
          type: string
          description: Status of the transaction.
          enum:
          - AUTHORISED
          - CAPTURED
          - DECLINED
        billing_address:
          description: Billing address details for the customer
          $ref: '#/components/schemas/BillingAddress'
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        cvv_result:
          type: string
          description: CVV verification result, as returned by the processor.
        avs_result:
          type: string
          description: Address verification services result, as returned by the processor
        three_ds:
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
          $ref: '#/components/schemas/ThreeDSCardEnrolRequest'
        acquirer_name:
          type: string
          description: The name of the acquirer as setup within the APEXX payment gateway.
        merchant_data:
          description: Merchant Data
          $ref: '#/components/schemas/MerchantData'
        cascade_successful:
          type: boolean
          example: false
          description: True if the transaction was cascaded, false if transaction when transaction failed to cascade and null if cascading was not attempted.
        device_information:
          description: deviceInformation
          $ref: '#/components/schemas/deviceInformation'
        webhook:
          description: WebhookResponse
          $ref: '#/components/schemas/WebhookResponse'
        preauth_check:
          $ref: '#/components/schemas/PreauthCheck'
        external_risk_data:
          description: ExternalRiskData
          $ref: '#/components/schemas/FraudCheckResponse'
        routing:
          type: array
          description: RouteInformation
          items:
            $ref: '#/components/schemas/PspgwRouteInformation'
        cascaded_psps:
          type: array
          description: Cascaded psp's
          items:
            $ref: '#/components/schemas/PspInformation'
        psp_info:
          description: PspInformation
          $ref: '#/components/schemas/PspInformation'
        tra_exemption:
          type: string
          description: "\"This indicates that exemption from SCA is requested for the transaction. Valid values as mentioned below:\n\n \"\"external\"\" - Transaction risk analysis conducted by approved external source\n\n \"\"acquirer\"\" - Transaction risk analysis conducted by the acquirer\n\n \"\"scp\"\" - scp stands for Secure Corporate Payment\n\n \"\"lvp\"\" - lvp stands for Low-Value Payment\n\n \"\"delegated\"\" - Exemption indicator for delegated authentication.\n\n This flag specifies whether the transaction is exempt from strong customer authentication (SCA) requirements in Europe because the authentication was delegated to a different provider, such as an acquirer or payment technology provider (PTP).\""
        authorisation_mid:
          type: string
          description: The authorisation mid used to process the transaction as setup within the APEXX payment gateway.
        settlement_mid:
          type: string
          description: The settlement mid used to process the transaction as setup within the APEXX payment gateway.
        pos_data_code:
          type: string
        request_id:
          type: string
          description: Unique Id for each request.
        duplicate_check:
          type: string
          description: This is the duplicate check of request, 'true' in case of request is duplicate
        customer:
          description: customer
          $ref: '#/components/schemas/AuthorisePaymentCustomer'
        response_code:
          type: string
          description: Response code is sent only when the source of the response looks suspicious. In this case Apexx immediately cancels the transaction placed with the gateway.
        airline_data:
          description: airlineData
          $ref: '#/components/schemas/airlineData'
        travel_data:
          description: Travel data - data relating to hotel bookings, cruise/trip details/car rental/accomodation rental
          $ref: '#/components/schemas/travelData'
        payment_product_type:
          type: string
          description: The payment product type corresponding to this transaction
          enum:
          - Amex
          - Diners Club International
          - Discover
          - Elo
          - JCB
          - Maestro
          - Mastercard
          - Visa
          - Visa Electron
        response_message:
          type: string
          description: A description of the response_code.
        transaction_chargeback:
          description: TransactionChargeback
          $ref: '#/components/schemas/TransactionChargeback'
        card_type:
          type: string
          description: Funding type of the card e.g. Debit, Credit
        mastercard_settlement_date:
          type: string
          description: Mastercard settlement date received from Acquirer
        aft_type:
          type: string
          description: 'Type of Account Funding transaction.


            SVWF - Stored value wallet funding


            SDWT - Staged digital wallet pre-funding


            A2A - Account-to-account (me-to-me) money transfer


            P2P - Person-to-Person (P2P) money transfer


            CLA - Cryptocurrency and liquid assets


            BIT - Financial Institution offe red Bank-Initiated P2P Money Transfer


            FD - Funds Disbursement


            FT - Funds Transfer


            PD - Payroll Disbursement


            PL - Prepaid load / reload2


            B2B - Business to Business


            CBP - Card Bill Payment


            GP - Gambling Payouts


            GFD - General funds disbursement


            GD - Government Disbursement


            LP - Loyalty Payments


            MD - Funding small business disbursements


            MP - Merchant Payment


            NCBP - Non card bill payment


            OGP - Online gaming payout


            ZDA - Zero dollar authorisation


            TO - Top off'
          enum:
          - SVWF
          - SDWT
          - A2A
          - P2P
          - CLA
          - BIT
          - FD
          - FT
          - PD
          - TPL
          - B2BCBP
          - GP
          - GFD
          - GD
          - LP
          - MD
          - MP
          - NCBP
          - OGP
          - ZDA
          - TO
        installment_information:
          description: Please note that the specific request here will override any general configuration that is set against your MID. by the acquirer. This does not apply to AMEX where the config at the MID takes priority
          $ref: '#/components/schemas/InstallmentInformation'
    travelData:
      type: object
      required:
      - booking_type
      properties:
        pnr:
          type: string
          description: Reference number for the booking.
        booking_amount:
          type: integer
          format: int32
          description: Prepaid amount, such as a deposit.
        booking_type:
          type: string
          description: The type of booking being made.
          enum:
          - hotel
          - rental
          - car
          - cruise
          - flight
          - train
          - coach
        passengers:
          type: array
          description: Array of passenger names
          items:
            $ref: '#/components/schemas/passengers'
        legs:
          type: array
          description: Array of legs of booking.
          items:
            $ref: '#/components/schemas/Legs'
        discount_percentage:
          type: integer
          format: int32
          description: Percentage dicount to be applied to booking
        loyalty_number:
          type: string
          description: Customer loyalty scheme number
        points:
          type: array
          description: Loyalty points/scheme details
          items:
            $ref: '#/components/schemas/Point'
        travel_mode_name:
          type: string
          description: Name of your mode of travel such as Airline, Ferry, Rail etc.
        travel_mode_numeric_code:
          type: integer
          format: int32
          description: Mode of Travel (Airline, Ferry, Rail etc.) numeric code
        agency:
          description: Agency
          $ref: '#/components/schemas/Agency'
        ticket_number:
          type: string
          description: Ticket/document number, or PNR locator code.
        check_digit:
          type: integer
          format: int32
          description: 'Check digit for the ticket number with Discover and Diners Club, a valid ticket number has these characteristics:

            The value is numeric.

            The first three digits are a valid IATA2 license plate carrier code.

            The last digit is a check digit or zero (0).

            All remaining digits are nonzero.'
        is_restricted:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction
          enum:
          - 'true'
          - 'false'
        transaction_type:
          type: integer
          format: int32
          description: 'Indicates the type of charge if it is for an airline ticket or another type of expense. 01: Charge is for an airline ticket. 02: Charge is for an item that is not an airline ticket'
        extended_payment_code:
          type: string
          description: 'Airline process identifier. This value is the airline’s three-digit IATA1 code which is used to process extended payment airline tickets.

            '
        passenger_title:
          type: string
          description: Title of the passenger.
        passenger_name:
          type: string
          description: 'Name of passenger. Note: Only alphabetic characters, Special characters allowed are (hyphen(-), underscore(_), dot(.), comma(,) and apostrophe(‘)).'
        passenger_age_group:
          type: string
          description: Travelling passenger's age group.
          enum:
          - 16-24
          - 25-34
          - 35-44
          - 45-54
          - 55-64
          - 65 and up
          - Unknown
        is_lead:
          type: string
          description: Indicates whether the passenger is a lead passenger within the group.
          enum:
          - 'true'
          - 'false'
        customer_code:
          type: string
          description: 'Reference number or code that identifies the cardholder.

            Code provided by the cardholder.

            Address of the ticket issuer. The first 13 characters will appear onthe cardholder’s statement.

            Customer reference.'
        document_type:
          type: integer
          format: int32
          description: Airline/Travel mode document type code that specifies the purpose of the transaction. For the possible values, see Appendix A, "Airline Document Type Codes".
        document_number:
          type: string
          description: Ticket number or a value that might be a booking reference number.
        travel_legs_count:
          type: integer
          format: int32
          description: 'Number of travel legs. Numbering for the travel legs: 0 to 3.'
        invoice_number:
          type: string
          description: Invoice number of the ticket.
        invoice_date:
          type: string
          description: Invoice date. The format is YYYY-MM-DD. If this value is included in the request, it is used in the creation of the invoice number.
        additional_charge_description:
          type: string
          description: Description of the charge.
        total_fee_amount:
          type: integer
          format: int32
          description: Total fee for the ticket.
        clearing_sequence:
          type: integer
          format: int32
          description: Total number of captures when requesting multiple partial captures for one authorization.
        clearing_count:
          type: integer
          format: int32
          description: Total number of clearing count associated with the authorization request.
        total_clearing_amount:
          type: integer
          format: int32
          description: Total clearing amount for all transactions in the clearing count set.
        passenger_count:
          type: integer
          format: int32
          description: Number of passengers for whom the ticket was issued.
        reservation_system_code:
          type: string
          description: Code that specifies the computerized reservation system used to make the reservation and purchase the ticket.
        process_identifier:
          type: string
          description: Airline process identifier. This value is the airline’s three-digit IATA1 code which is used to process extended payment airline tickets.
        issue_date:
          type: string
          description: 'Date on which the ticket was issued. Format: YYYY-MM-DD'
        is_eticket:
          type: string
          description: Indicates whether the issued ticket was electronic or not.
          enum:
          - 'true'
          - 'false'
        original_ticket_number:
          type: string
          description: Original ticket number when the transaction is for a replacement ticket.
        purchase_type:
          type: string
          description: 'Type of purchase

            EXC: Exchange ticket, MSC: Miscellaneous, REF: Refund, TKT: Ticket'
          enum:
          - EXC
          - MSC
          - REF
          - TKT
        credit_reason:
          type: string
          description: 'Reason for the credit.A: Cancellation of the ancillary passenger transport purchase,

            B: Cancellation of the airline ticket and the passenger transport ancillary purchase,

            C: Cancellation of the airline ticket,

            O: Other,

            P: Partial refund of the airline ticket.'
          enum:
          - A
          - B
          - C
          - O
          - P
        ticket_change_indicator:
          type: string
          description: 'Type of update.C: Change to the existing ticket., N: New ticket.'
          enum:
          - C
          - N
        plan_number:
          type: string
          description: Plan number based on the fare. This value is provided by the airline.
        arrival_date:
          type: string
          description: 'Inbound arrival date and time of the booking. Format: YYYY-MM-DD HH:mm:ss'
        restricted_ticket_description:
          type: string
          description: Text that describes the ticket limitations, such as nonrefundable.
        exchange_ticket_amount:
          type: integer
          format: int32
          description: Amount of the exchanged ticket.
        exchange_ticket_fee_amount:
          type: integer
          format: int32
          description: Fee for exchanging the ticket.
        reservation_type:
          type: string
          description: Type of journey such as one way or round trip.
        boarding_fee_amount:
          type: integer
          format: int32
          description: Boarding fee.
        special_program_code:
          type: string
          description: "**Valid values for hotel** :\n\n \"\"Lodging\"\"(default)\n\n \"\"No-Show Reservation\"\"\n\n \"\"Advanced Deposit\"\"\n\n**Valid values for car** :\n\n \"\"Not applicable\"\"(default)\n\n \"\"Frequent renter\"\"\n\n \"\"No show\"\""
        promo_code:
          type: string
          description: Code assigned to a business. You can use this code to identify corporate rates and discounts for guests.
        customer_service_details:
          description: Details of customer service
          $ref: '#/components/schemas/CustomerServiceDetails'
        duration:
          type: string
          description: "Duration of the car or hotel rental.  \n\n **Note:** Required when booking_type= “car”"
        hotel:
          description: Object containing hotel details
          $ref: '#/components/schemas/Hotel'
        car:
          description: Car rental object
          $ref: '#/components/schemas/Car'
    RiskInformationDTO:
      type: object
      properties:
        profile:
          description: Identifies a risk profile.
          $ref: '#/components/schemas/ProfileDataDTO'
        event_type:
          type: string
          description: 'Specifies one of the following types of events:


            1. login


            2. account_creation


            3. account_update For regular payment transactions, do not send this field.'
        buyer_history:
          description: buyerHistory
          $ref: '#/components/schemas/BuyerHistoryDTO'
    deviceInformation:
      type: object
      properties:
        http_color_depth:
          type: string
          description: Represents the bit depth of color supported by the user’s display environment. It indicates how many bits are used to represent the color of a single pixel, which in turn defines the range of distinct colors that can be displayed.
        http_java_enabled:
          type: string
          description: Indicates whether the customer’s browser supports and has Java enabled (true / false).This helps assess the browser environment and can be used in device fingerprinting or fraud risk checks.
        http_java_script_enabled:
          type: string
          description: Indicates whether the customer’s browser has JavaScript enabled (true / false).Helps determine if the environment supports interactive web features and can be used for fraud/risk evaluation.
        http_browser_language:
          type: string
          description: The default language setting of the customer’s browser (e.g., "en-US", "fr-FR").Useful for localization, risk analysis, and understanding customer preferences.
        http_screen_height:
          type: string
          description: The height of the customer’s device screen in pixels (e.g., 1080).Often captured to verify the device profile.
        http_screen_width:
          type: string
          description: The width of the customer’s device screen in pixels (e.g., 1920).Used together with http_screen_height to describe display resolution.
        http_time_difference:
          type: string
          description: The time zone offset (in minutes or hours) between the customer’s local device time and UTC (e.g., +330 for IST).Helps in detecting anomalies if device time doesn’t match geolocation.
        customer_ip:
          type: string
          description: The IP address of the customer’s device at the time of transaction (IPv4 or IPv6).Commonly used for geolocation and fraud detection.
        http_accept_browser_value:
          type: string
          description: 'The raw Accept header value sent by the browser


            (e.g."text/html","application/xhtml+ xml","application/xml";"q=0.9")


            Identifies the content types the browser supports.'
        user_agent_browser_value:
          type: string
          description: The raw User-Agent header string provided by the browser (e.g., Mozilla/5.0 (Windows NT 10.0; Win64; x64)).Contains information about browser,OS,and device.
        device_channel:
          type: string
          description: Specifies the channel through which the transaction is initiated (e.g., "BROWSER", "APP", "POS").<br>Helps in categorizing the origin of the request.For HPP and for javascript based transactions value should be BROWSER.
    RuleTraceDTO:
      type: object
      properties:
        bindValue:
          type: string
        category:
          type: string
        result:
          type: boolean
        ruleExpression:
          type: string
        ruleId:
          type: string
        ruleOrgId:
          type: string
        ruleType:
          type: string
    RiskCheckCardDetails:
      type: object
      properties:
        card_holder_name:
          type: string
          description: Name of the card holder as printed on the card.
        card_number:
          type: string
          description: The new card number, also known as PAN.
        expiry_month:
          type: string
          description: Card expiry month. A string representing the month, valid values are 01 to 12.
        expiry_year:
          type: string
          description: Card expiry year. A string representing the last two digits of the year, e.g. 19 for 2019.
        token:
          type: string
          description: The token representing the payment card.
        encrypted_data:
          type: string
          description: This field will contain the encryption data of card_number, expiry_month, expiry_year and cvv fields. Encryption data generated by client-side-encryption SDK.
        initial_scheme_transaction_id:
          type: string
          description: The unique scheme transaction Id returned during customer initiated transaction. This value will be required when recurring_type is "mit"
        network_token:
          description: Network token.
          $ref: '#/components/schemas/NetworkToken'
    PaymentRequest:
      type: object
      required:
      - amount
      - capture_now
      - card
      - merchant_reference
      properties:
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        card:
          description: The new card number, also known as PAN.
          $ref: '#/components/schemas/CardDetailsWithApm'
        items:
          type: array
          description: Items
          items:
            $ref: '#/components/schemas/Items'
        customer:
          description: customer
          $ref: '#/components/schemas/AuthorisePaymentCustomer'
        customer_ip:
          type: string
          description: The IP address of the customer
        browser_screen_height:
          type: integer
          format: int32
          description: The height of the customer’s browser at point of submission
        browser_screen_width:
          type: integer
          format: int32
          description: The width of the customer’s browser at point of submission
        recurring_type:
          type: string
          description: This field is to be used only when a transaction is part of a series of recurring transactions. If it's the initial transaction, set the value to 'first', and if it's not, set it to 'recurring'. This field must not be included in transactions that will not be part of a series of repeated transactions. (All values are written in lowercase letters).
          enum:
          - first
          - recurring
          - mit
          - cit
          - oneclick
          - install
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        billing_address:
          description: Billing address details for the customer
          $ref: '#/components/schemas/BillingAddress'
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        three_ds:
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
          $ref: '#/components/schemas/ThreeDs'
        fraud_predictions:
          type: array
          items:
            $ref: '#/components/schemas/FraudPredictions'
        card_brand:
          type: string
          description: Card brand for the card used for processing
          enum:
          - amex
          - diners
          - discover
          - elo
          - jcb
          - maestro
          - mastercard
          - visa
          - visa electron
          - carte bancaire
        delivery_address:
          description: Some fields may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information.
          $ref: '#/components/schemas/deliveryAddress'
        duplicate_check:
          type: string
          description: This indicates the system whether to perform duplicate check on the transaction or not. A request is considered duplicate if the merchant_reference has already been used within last 24 hours.
        external_risk_data:
          description: ExternalRiskData
          $ref: '#/components/schemas/ExternalRiskData'
        airline_data:
          description: airlineData
          $ref: '#/components/schemas/airlineData'
        external_authentication:
          description: ExternalAuthentication
          $ref: '#/components/schemas/ExternalAuthentication'
        tra_exemption:
          type: string
          description: "\"This indicates that exemption from SCA is requested for the transaction. Valid values as mentioned below:\n\n \"\"external\"\" - Transaction risk analysis conducted by approved external source\n\n \"\"acquirer\"\" - Transaction risk analysis conducted by the acquirer\n\n \"\"scp\"\" - scp stands for Secure Corporate Payment\n\n \"\"lvp\"\" - lvp stands for Low-Value Payment\n\n \"\"delegated\"\" - Exemption indicator for delegated authentication.\n\n This flag specifies whether the transaction is exempt from strong customer authentication (SCA) requirements in Europe because the authentication was delegated to a different provider, such as an acquirer or payment technology provider (PTP).\""
        merchant_data:
          description: Merchant Data
          $ref: '#/components/schemas/MerchantData'
        installment_information:
          description: Please note that the specific request here will override any general configuration that is set against your MID. by the acquirer. This does not apply to AMEX where the config at the MID takes priority
          $ref: '#/components/schemas/InstallmentInformation'
        travel_data:
          description: travelData
          $ref: '#/components/schemas/travelData'
        pay_fac_sub_merchant_id:
          type: string
          description: Payment Facilitator submerchant account Identifier in the marketplace.
        device_information:
          description: deviceInformation
          $ref: '#/components/schemas/deviceInformation'
        aft_type:
          type: string
          description: 'Type of Account Funding transaction.


            SVWF - Stored value wallet funding


            SDWT - Staged digital wallet pre-funding


            A2A - Account-to-account (me-to-me) money transfer


            P2P - Person-to-Person (P2P) money transfer


            CLA - Cryptocurrency and liquid assets


            BIT - Financial Institution offe red Bank-Initiated P2P Money Transfer


            FD - Funds Disbursement


            FT - Funds Transfer


            PD - Payroll Disbursement


            PL - Prepaid load / reload2


            B2B - Business to Business


            CBP - Card Bill Payment


            GP - Gambling Payouts


            GFD - General funds disbursement


            GD - Government Disbursement


            LP - Loyalty Payments


            MD - Funding small business disbursements


            MP - Merchant Payment


            NCBP - Non card bill payment


            OGP - Online gaming payout


            ZDA - Zero dollar authorisation


            TO - Top off'
          enum:
          - SVWF
          - SDWT
          - A2A
          - P2P
          - CLA
          - BIT
          - FD
          - FT
          - PD
          - TPL
          - B2BCBP
          - GP
          - GFD
          - GD
          - LP
          - MD
          - MP
          - NCBP
          - OGP
          - ZDA
          - TO
    CustomerServiceDetails:
      type: object
      properties:
        phone_number:
          type: string
          description: Toll-free customer service phone number.
    deliveryAddress:
      type: object
      properties:
        address:
          type: string
          description: Street address of the delivery customer.
        city:
          type: string
          description: City of the delivery customer
        country:
          type: string
          description: "A 2-letter ISO3166 alpha-2. country code for the address. \n\nNote: Alphabets upto two characters (e.g. GB, RU etc..)"
        email:
          type: string
          description: 'Email address of the card holder.


            Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(â€˜)'
        phone:
          type: string
          description: 'Numbers only, no dash or any other separator.


            Note: Length - min(3) & max(20)'
        postal_code:
          type: string
          description: A postal code for the address.
        state:
          type: string
          description: A region / state / province for the address.
    AccountHistoryDTO:
      type: object
      properties:
        first_use_of_shipping_address:
          type: string
          description: Applicable when this is not a guest account.
        shipping_address_usage_date:
          type: string
          description: Date when the shipping address for this transaction was first used. Recommended for Discover ProtectBuy. If firstUseOfShippingAddress is false and not a guest account, then this date is entered.
    GooglePay:
      type: object
      required:
      - cryptogram
      - dpan
      - expiry_month
      - expiry_year
      properties:
        cryptogram:
          type: string
          description: "Required only if using the PSP decryption method. This value should be base64 encoded if the intermediary PSP is Cybersource or ACI\n\n Google pay online payment cryptogram for 3d secure which maps to the paymentData.onlinePaymentCryptogram property in the encrypted payment data."
        expiry_month:
          type: string
          description: "Required only if using the merchant decryption method\n\n Card expiry month - A string representing the month, valid values are 01 to 12. Maps to the applicationExpirationDate property in the encrypted payment data. Need to send only Month from the received data."
        expiry_year:
          type: string
          description: "Required only if using the merchant decryption method\n\n Card expiry year - A string representing the last two digits of the year, e.g. 19 for 2019. Maps to the applicationExpirationDate property in the encrypted payment data. Need to send only Year from the received data."
        dpan:
          type: string
          description: "Required only if using the merchant decryption method\n\n Device specific PAN - Maps to the applicationPrimaryAccountNumber property in the encrypted payment data."
        eci:
          type: string
          description: "Required only if using the merchant decryption method\n\n Electronic Commerce Indicator - Maps to the paymentData.eciIndicator property in the encrypted payment data."
        googlepay_transaction_id:
          type: string
          description: Googlepay Transaction id received from googlepay.
    FraudPredictions:
      type: object
      properties:
        error_message:
          type: string
          description: A description of the error.
        rec:
          type: string
        rules_triggered:
          type: array
          description: The rules triggered for the fraud predictions
          items:
            type: string
        score:
          type: integer
          format: int32
          description: Total score calculated for this order. The value cannot be negative
    TaxDetail:
      type: object
      properties:
        room_tax_type:
          type: string
          description: Type of tax.
          enum:
          - Sales Tax
          - Value Added Tax (VAT)
          - Transient Occupancy Tax (TOT)
          - Occupancy Tax
          - Resort Tax
          - Tourism Tax
          - City Tax
          - County Tax
          - Municipal Tax
          - State Tax
          - Bed Tax
          - Resort Fee
          - Hospitality Tax
          - Other
        room_tax_amount:
          type: string
          description: Total tax for the room.
        total_tax_amount:
          type: string
          description: Total tax amount
    passengers:
      type: object
      properties:
        passenger_index:
          type: integer
          format: int32
          description: Index number to identify passenger
        salutation:
          type: string
          description: Salutation of the customer e.g. "Mr", "Mrs", "Dr", etc.
        first_name:
          type: string
          description: First name of the passenger
        last_name:
          type: string
          description: Last name of the passenger
        date_of_birth:
          type: string
          description: 'D.O.B. of passenger. Format: YYYY-MM-DD'
    RiskInformationResponseDTO:
      type: object
      properties:
        case_priority:
          type: string
        info_codes:
          $ref: '#/components/schemas/InfoCodesDTO'
        local_time:
          type: string
        profile_response:
          $ref: '#/components/schemas/ProfileDTO'
        providers:
          $ref: '#/components/schemas/ProvidersDTO'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        score:
          $ref: '#/components/schemas/ScoreDTO'
    ThreeDSCardEnrolRequest:
      type: object
      properties:
        three_ds_enrollment:
          type: boolean
          example: false
          description: 'Card’s enrollment status.


            **Note:** This field is required by certain acquirers, please ask your implementation manager for details.'
        three_ds_required:
          type: string
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
        three_ds_version:
          type: string
          description: The 3-D Secure version used for the authentication.
          enum:
          - '1.0'
          - '2.0'
          - 1.0.2
          - 2.1.0
          - 2.2.0
        term_url:
          type: string
          description: The return url to which the customer is redirected after a transaction is processed.
        eci:
          type: string
          description: The Electronic Commerce Indicator (ECI).
        xid:
          type: string
          description: 3-D Secure X id.
        cavv:
          type: string
          description: 3-D Secure "Cardholder Authentication Verification Value"
        pares:
          type: string
          description: 'Result of the authentication check. This field can contain one of these values:


            A: Proof of authentication attempt was generated.


            N: Customer failed or canceled authentication. Transaction denied.


            U: Authentication not completed regardless of the reason.


            Y: Customer was successfully authenticated.'
        veres:
          type: string
          description: 'Result of the enrollment check. This field can contain one of these values:


            Y: Card enrolled or can be enrolled; you must authenticate. Liability shift.


            N: Card not enrolled; proceed with authorization. Liability shift.


            U: Unable to authenticate regardless of the reason. No liability shift.


            B: Indicates that authentication was bypassed.'
        authentication_result:
          type: string
          description: 'Raw authentication data that comes from the cardissuing bank. Primary authentication field that indicates if authentication was successful and if liability shift occurred. You should examine first the result of this field. This field contains one of these values:


            -1: Invalid PARes.


            0: Successful validation.


            1: Cardholder is not participating, but the attempt to authenticate was recorded.


            6: Issuer unable to perform authentication.


            9: Cardholder did not complete authentication.'
    ThreeDs:
      type: object
      properties:
        three_ds_required:
          type: string
          description: "Valid values: \"true\"\t\"false\"\t\n\ntrue if 3DS required for this transaction, false otherwise."
        three_ds_version:
          type: string
          description: "Valid values: \"1.0\"\t\"2.0\"\t\n\nThe 3-D Secure version used for the authentication"
        term_url:
          type: string
          description: The return url to which the customer is redirected after a transaction is processed.
        reference_id:
          type: string
          description: Cardinal Session ID sent in the response after initialization of JWT with Cardinal. This is mandatory when three_ds_version is 2.0.
    AdjustedAmount:
      type: object
      properties:
        indicator:
          type: string
          description: Adjusted amount indicator code that indicates any miscellaneous charges incurred after the auto was returned or Audit indicator code that indicates any adjustment for mileage, fuel, auto damage, etc. made to a rental agreement and whether the cardholder was notified.
          enum:
          - Drop-off charges
          - Delivery charges
          - Parking expenses
          - Extra hours
          - Violations
          - Multiple adjustments
        value:
          type: string
          description: Adjusted Amount indicates whether any miscellaneous charges were incurred after the vehicle was returned.
    ApplePay:
      type: object
      required:
      - cryptogram
      - dpan
      - expiry_month
      - expiry_year
      properties:
        cryptogram:
          type: string
          description: Applepay online payment cryptogram for 3d secure which maps to the paymentData.onlinePaymentCryptogram property in the encrypted payment data.
        expiry_month:
          type: string
          description: Card expiry month - A string representing the month, valid values are 01 to 12. Maps to the applicationExpirationDate property in the encrypted payment data. Need to send only Month from the received data.
        expiry_year:
          type: string
          description: Card expiry year - A string representing the last two digits of the year, e.g. 19 for 2019. Maps to the applicationExpirationDate property in the encrypted payment data. Need to send only Year from the received data.
        dpan:
          type: string
          description: Device specific PAN - Maps to the applicationPrimaryAccountNumber property in the encrypted payment data.
        eci:
          type: string
          description: Electronic Commerce Indicator - Maps to the paymentData.eciIndicator property in the encrypted payment data.
        applepay_transaction_id:
          type: string
          description: Applepay Transaction id received from applepay.
    DeviceInformationDTO:
      type: object
      properties:
        cookies_accepted:
          type: string
          description: Whether the customer’s browser accepts cookies.
          enum:
          - 'True'
          - 'False'
        host_name:
          type: string
          description: DNS resolved hostname from ipAddress.
        http_browser_email:
          type: string
          description: Email address set in the customer’s browser, which may differ from customer email
        http_accept_browser_value:
          type: string
          description: Value of the Accept header sent by the customer’s web browser. Note If the customer’s browser provides a value, you must include it in your request.
        http_accept_content:
          type: string
          description: The exact content of the HTTP accept header.
        http_accept_language:
          type: string
          description: Value represents the browser language as defined in IETF BCP47. Example:en-US
        http_java_enabled:
          type: string
          description: A Boolean value that represents the ability of the cardholder browser to execute Java. Value is returned from the navigator.javaEnabled property.
          enum:
          - 'True'
          - 'False'
        http_java_script_enabled:
          type: string
          description: 'A Boolean value that represents the ability of the cardholder browser to execute JavaScript. Note: Merchants should be able to know the values from fingerprint details of cardholder''s browser.'
          enum:
          - 'True'
          - 'False'
        http_color_depth:
          type: string
          description: 'Value represents the bit depth of the color palette for displaying images, in bits per pixel. Example : 24'
        http_screen_height:
          type: string
          description: 'Total height of the Cardholder''s scree in pixels. Example: 864.'
        http_screen_width:
          type: string
          description: 'Total width of the cardholder''s screen in pixels. Example: 1536.'
        http_time_difference:
          type: string
          description: Time difference between UTC time and the cardholder browser local time, in minutes. Example:300
        user_agent_browser_value:
          type: string
          description: Value of the User-Agent header sent by the customer’s web browser. Note If the customer’s browser provides a value, you must include it in your request.
    MerchantData:
      type: object
      properties:
        brand_name:
          type: string
          description: Merchant Brand name
        custom_data:
          type: object
        website_url:
          type: string
          description: Merchant website.
    EncryptedCardDTO:
      type: object
      required:
      - encryptedPayload
      properties:
        encryptedPayload:
          type: string
          description: Encrypted request body with encrypted key passed in header. This field will contain the encryption data of all the fields from the cardPayRequest above and will be processed only when encrypted key is passed in header.
    ExternalRiskData:
      type: object
      properties:
        session_id:
          type: string
          description: Session ID of the transaction. This session id can be used to obtain device fingerprint information. You can use any id that you are already generating, such as an order number or web session ID.
        provider:
          type: string
          description: Third party provider for the risk check.
          enum:
          - CYBERSOURCE
        cs_dm:
          description: CybersourceDecisionManagerRequest
          $ref: '#/components/schemas/CybersourceDecisionManagerRequest'
    PreauthCheck:
      type: object
      properties:
        provider:
          type: string
          description: Third party provider for the risk check.
        score:
          type: number
          format: double
          description: Total score calculated for this order. The value cannot be negative.
        status:
          type: string
          description: Status of the risk check.
        created_at:
          type: string
          format: date-time
          description: The time at which the transaction was created
        timestamp:
          type: integer
          format: int64
          description: Current timestamp
        rules_triggered:
          type: array
          items:
            $ref: '#/components/schemas/RuleTraceDTO'
        is_fraud:
          type: boolean
          example: false
    FailureResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    Items:
      type: object
      required:
      - gross_unit_price
      - item_description
      - net_unit_price
      - product_id
      - quantity
      properties:
        distributor_sku:
          type: string
        item_name:
          type: string
        merchant_sku:
          type: string
        product_id:
          type: string
          description: Merchant Product identification number
        group_id:
          type: string
          description: Item group ID. The group this item belongs to. Provided by the merchant
        item_description:
          type: string
          description: Product name. For example "Black music player 64GB". Everything over 255 characters will be truncated
        net_unit_price:
          type: integer
          format: int64
          description: 'Net unit price.


            Note: net_unit_price is only required if the vat_percent is not provided.'
        gross_unit_price:
          type: integer
          format: int64
          description: Gross price per item
        quantity:
          type: integer
          format: int64
          description: Quantity
        vat_percent:
          type: number
          format: double
          description: Tax percent
        vat_amount:
          type: integer
          format: int64
          description: Tax amount per item
        product_image_url:
          type: string
          description: URL for the image of this product. It will be turned into a thumbnail and displayed in MyAfterPay, on the invoice line next to the order item. The linked image must be a rectangle or square, width between 100 pixels and 1280 pixels.
        product_url:
          type: string
          description: URL to the product
        additional_information:
          type: string
          description: Extended description of the order item
    InfoCodesDTO:
      type: object
      properties:
        address:
          type: array
          items:
            type: string
        customer_list:
          type: array
          items:
            type: string
        global_velocity:
          type: array
          items:
            type: string
        identity_change:
          type: array
          items:
            type: string
        internet:
          type: array
          items:
            type: string
        phone:
          type: array
          items:
            type: string
        suspicious:
          type: array
          items:
            type: string
        velocity:
          type: array
          items:
            type: string
    FlightDetails:
      type: object
      properties:
        carrier_code:
          type: string
          description: Travel carrier code
        flight_number:
          type: integer
          format: int32
          description: Flight number excluding carrier code.
        origin_airport:
          type: string
          description: Origin airport/city IATA code.
        origin_city:
          type: string
          description: Origin city name.
        service_class:
          type: string
          description: Ticket category/class (“0” if no class).
          enum:
          - economy
          - premium economy
          - business class
          - first class
          - '0'
        stop_over_code:
          type: string
          description: 'Stop over code -


            O (capital letter "O") or 0 (zero) : Stopover allowed


            X (capital letter "X") or 1 : Stopover not allowed'
          enum:
          - X
          - O
          - '1'
          - '0'
        departure_date:
          type: string
          description: Departure date. Format - YYYY-MM-DD HH:mm:ss
        destination_airport:
          type: string
          description: Destination airport/city IATA code.
        destination_city:
          type: string
          description: Destination city name
        fare_basis_code:
          type: string
          description: Fare basis code
        departure_tax_amount:
          type: integer
          format: int32
          description: Amount of departure tax for this leg of the trip.
        conjunction_ticket:
          type: string
          description: Ticket that contains additional coupons for this leg of the trip on an itinerary that has more than four segments.
        exchange_ticket_number:
          type: string
          description: New ticket number that is issued when the ticket is exchanged for this leg of the trip.
        coupon_number:
          type: string
          description: Coupon number for the leg
        endorsements_restrictions:
          type: string
          description: Notes or notations about endorsements and restrictions for this leg of the trip. Endorsements can be notations added by the travel agency, including mandatory government required notations such as value added tax. Restrictions are limitations for the ticket based on the type of fare, such as a nonrefundable tic.
        total_fare_amount:
          type: integer
          format: int32
          description: Total fare for this leg of the trip.
        fee_amount:
          type: integer
          format: int32
          description: Fee for this leg of the trip, such as an airport fee or country fee.
        tax_amount:
          type: integer
          format: int32
          description: Tax for this leg of the trip.
    Point:
      type: object
      properties:
        type:
          type: string
          description: The type or category of points
        scheme:
          type: string
          description: Name of points scheme provider
        used:
          type: integer
          format: int32
          description: Points used this transaction
        balance:
          type: integer
          format: int32
          description: Remaining points balance
    Legs:
      type: object
      properties:
        insurance:
          type: array
          items:
            $ref: '#/components/schemas/Insurance'
        amount:
          type: integer
          format: int32
          description: Amount of leg of booking
        passenger_index:
          type: array
          description: Array of passenger index values of passengers present for this leg of booking.
          items:
            type: number
        check_in_date:
          type: string
          description: 'For booking_type= “hotel”

            Start date of reservation.

            For booking_type= “car”

            Date-time the auto was picked up from the rental agency. Format: YYYY-MM-DD HH:mm:ss'
        check_out_date:
          type: string
          description: "For booking_type= “hotel”\nEnd date of reservation. \nFor booking_type= “car”\nDate-time the auto was returned to the rental agency. Format: YYYY-MM-DD HH:mm:ss"
        provider_group:
          type: string
          description: Name of hotel parent group
        provider_name:
          type: string
          description: Name of hotel chain
        room_count:
          type: integer
          format: int32
          description: Number of rooms under booking
        traveller_count:
          type: integer
          format: int32
          description: Number of travellers under booking
        origin_address:
          type: string
          description: "Street address of origin point.\n \n  Note: Supports only ISO-8859-1 characters."
        origin_city:
          type: string
          description: City Journey begins
        origin_postal_code:
          type: string
          description: 'A postal/zip code for the address. Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and spaces.'
        origin_country_code:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. country code for the address. Note: Alphabets upto two characters (e.g. GB, RU etc..)'
        origin_state:
          type: string
          description: State Journey begins
        origin_location_id:
          type: string
          description: The agency code, address, phone number, etc., used to identify the location of origin
        origin_location:
          type: string
          description: The location where a taxi passenger was picked up or where an auto rental vehicle was picked up.
        route_stops:
          type: array
          description: Array of stopping points on trip
          items:
            $ref: '#/components/schemas/RouteStops'
        destination_address:
          type: string
          description: "Address of accomodation.\n \n  Note: Supports only ISO-8859-1 characters."
        destination_city:
          type: string
          description: Final destination City
        destination_postal_code:
          type: string
          description: 'A postal/zip code for the address. Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and spaces.'
        destination_country_code:
          type: string
          description: 'Destination country. A 2-letter ISO3166 alpha-2. country code for the address. Note: Alphabets upto two characters (e.g. GB, RU, etc.)'
        destination_state:
          type: string
          description: Final destination State.
        destination_location_id:
          type: string
          description: The agency code, address, phone number, etc., used to identify the location of destination.
        destination_location:
          type: string
          description: The location where a taxi passenger was dropped or where an auto rental vehicle was returned.
        adults_count:
          type: integer
          format: int32
          description: Number of adults under booking
        booking_type:
          type: string
          description: The type of booking being made.
          enum:
          - hotel
          - rental
          - car
          - cruise
          - flight
          - train
          - coach
        data:
          type: array
          description: Array of provider specific key values pairs, should be an array of the 'key_name' value and the 'value' value - Please speak to your Implementation manager for details on usage.
          items:
            $ref: '#/components/schemas/data'
        child_count:
          type: integer
          format: int32
          description: Number of children under booking
        beds_count:
          type: integer
          format: int32
          description: Number of rooms under booking
        vehicle_type:
          type: string
          description: Name of vehicle being rented
        class:
          type: string
          description: Class of travel or stay. e.g. "first", "premium", "luxury suite" - free text field, not enum
        carrier_code:
          type: string
          description: Travel carrier code
        travel_mode_reference:
          type: integer
          format: int32
          description: Flight/Travel mode number excluding carrier code
        origin_port:
          type: string
          description: Origin airport/port/city IATA code
        service_class:
          type: string
          description: Service Class. Send "0" if Ticket category/class or if no class.
          enum:
          - first class
          - Second class
          - business
          - Economic
          - '0'
        stop_over_code:
          type: string
          description: 'Stop over code -


            O (capital letter "O") or 0 (zero) : Stopover allowed


[...]
