openapi: 3.2.0
info:
  description: '# Using the API


    ## Authentication

    Authentication is managed using an API key, which is provided to you.'
  version: '2.0'
  title: APEXX FINTECH Hosted Token API
  license:
    name: Apexx Fintech Ltd
    url: https://www.apexxfintech.com/legal-documentation/
servers:
- url: https://sandbox.apexx.global/atomic/v1/
tags:
- name: Hosted Token
  description: Hosted Token Controller
paths:
  /api/token/hosted:
    post:
      tags:
      - Hosted Token
      summary: hostedTokenPage
      description: Hosted Token
      operationId: hostedTokenUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HostedTokenResponseDTO'
        '400':
          description: Bad Request / Invalid Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostedTokenRequest'
        description: hostedTokenRequest
components:
  schemas:
    HostedTokenResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        url:
          type: string
          description: Hosted token page URL
    FailureResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    HostedTokenRequest:
      type: object
      required:
      - locale
      - organisation_id
      - return_url
      properties:
        organisation_id:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        save_button:
          type: string
          description: True will show the save button on the Hosted page, False will try to auto save the card details as soon as user fills all details.
        return_url:
          type: string
          description: The return url to which the customer is redirected after a token is created.
        locale:
          type: string
          description: Locale code.
          enum:
          - en_GB
          - en_US
        billing_address:
          description: Billing Address
          $ref: '#/components/schemas/BillingAddressDetails'
    Errors:
      type: object
      properties:
        error_code:
          type: integer
          format: int32
          description: Error Code
        property:
          type: string
          description: 'Property on which error occurs. e.g : it can be class name , field name'
        error_message:
          type: string
          description: Error message
    BillingAddressDetails:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the card holder
        last_name:
          type: string
          description: Last name of the card holder
        email:
          type: string
          description: Email address of the card holder
        address:
          type: string
          description: Street address of the card holder
        city:
          type: string
          description: City of the card holder
        state:
          type: string
          description: A region / state / province for the address
        postal_code:
          type: string
          description: A postal code for the address
        country:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. Country code for the address. Note: Alphabets upto two characters (e.g. GB, RU etc..)'
        phone:
          type: string
          description: Numbers only, no dash or any other separator
