openapi: 3.2.0
info:
  description: '# Using the API


    ## Authentication

    Authentication is managed using an API key, which is provided to you.'
  version: '2.0'
  title: APEXX FINTECH Alternative Payment Methods API
  license:
    name: Apexx Fintech Ltd
    url: https://www.apexxfintech.com/legal-documentation/
servers:
- url: https://sandbox.apexx.global/atomic/v1/
tags:
- name: Alternative Payment Methods
paths:
  '/api/payment ':
    post:
      tags:
      - Alternative Payment Methods
      summary: AfterPay Payment
      description: Make a transaction with afterPay request
      operationId: afterPayPaymentRequestUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AfterPayResponse'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AfterPayResponse'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AfterPayRequestDTO'
        description: ' '
  '/api/payment    ':
    post:
      tags:
      - Alternative Payment Methods
      summary: ApplePay Payment
      description: Make a transaction with applePay request
      operationId: applePayPaymentRequestUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplePayResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTOApplepay'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTOApplepay'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTOApplepay'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTOApplepay'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptedApplePayRequestDTO'
        description: ' '
  '/api/payment      ':
    post:
      tags:
      - Alternative Payment Methods
      summary: GooglePay Payment
      description: Make a transaction with googlepay request
      operationId: googplepayPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GooglePayResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GooglepayProcessingErrorDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GooglePayRequestDTO'
        description: ' '
  '/api/payment          ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Dragonpay Payment
      description: 'Make a transaction with dragonpay request


        NOTE: In the response of payments API, merchant will receive a redirection URL where merchant has to redirect the customer."


        Customer will perform the authentication process on the redirection server and will be returned back to merchant server after authentication is completed."


        The status of the transaction at this stage will be "AUTHORISED".


        The transaction takes upto 120 seconds to get updated in Apexx system after authentication process is completed.


        Merchant can receive the final status of the transaction via webhook once the transaction is updated in APEXX system or you can use get_transaction API to get the transaction status after 120 seconds.'
      operationId: dragonPayPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DragonpayPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DragonpayErrorResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DragonpayPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted   ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Paypal Payment
      description: Make a transaction with Paypal request
      operationId: paypalPaymentRequestUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalFailureResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaypalPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted    ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Ppro Bancontact Payment
      description: Make a transaction with bancontact request
      operationId: pproBancontactPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproBancontactPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproBancontactPaymentResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PproBancontactPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted       ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Ppro Blik Payment
      description: Make a transaction with blik request
      operationId: pproBlikPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproBlikPaymentResponceDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproBlikFailedPaymentResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PproBlikPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted        ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Ppro Giropay Payment
      description: Make a transaction with ppro giropay request
      operationId: pproGiroPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproGiroPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproGiroPaymentResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PproGiroPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted         ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Ppro Ideal Payment
      description: Make a transaction with ppro ideal request
      operationId: pproIdealPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproIdealPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproIdealPaymentResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PproIdealPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted            ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Ppro Pix Payment
      description: Make a transaction with pix request
      operationId: pproPixPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproPixPaymentResponceDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproPixFailedPaymentResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PproFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PproPixPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted             ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Paysafe Skrill Payment
      description: Make a transaction with paysafe Skrill request
      operationId: paysafeSkrillPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SkrillPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SkrillFailedPaymentResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkrillPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted              ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Paysafecard Payment
      description: Make a transaction with paysafecard request
      operationId: paysafeCardPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafecardPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafecardFailedPaymentResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaysafeFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaysafecardPaymentRequestDTO'
        description: ' '
  '/api/payment/hosted                ':
    post:
      tags:
      - Alternative Payment Methods
      summary: Antom Payment
      description: Make a transaction with Antom request
      operationId: antomPaymentUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AntomPaymentResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AntomFailureResponse'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AntomFailureResponse'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AntomFailureResponse'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AntomFailureResponse'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AntomFailureResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AntomFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntomPayment'
        description: ' '
components:
  schemas:
    RuleDTO:
      type: object
      properties:
        decision:
          type: string
        name:
          type: string
    CybersourceDecisionManagerResponse:
      type: object
      properties:
        clientReferenceInformation:
          $ref: '#/components/schemas/ClientReferenceInformationDTO'
        consumerAuthenticationInformation:
          $ref: '#/components/schemas/ConsumerAuthenticationInformationDTO'
        id:
          type: string
        paymentInformation:
          $ref: '#/components/schemas/PaymentInformationResponseDTO'
        riskInformation:
          $ref: '#/components/schemas/RiskInformationResponseDTO'
        status:
          type: string
        submitTimeUtc:
          type: string
    Dragonpay:
      type: object
      required:
      - redirection_parameters
      properties:
        proc_id:
          type: string
          description: Preferred payment channel
          enum:
          - BAYD
          - BDO
          - CC
          - CEBL
          - DPAY
          - ECPY
          - GCSH
          - LBC
          - PYPL
          - MLH
          - RDS
          - SMR
          - '711'
        param1:
          type: string
          description: Value that will be posted back to merchant postback/return url when completed
        param2:
          type: string
          description: Value that will be posted back to merchant postback/return url when completed
        mode:
          type: string
          description: '1: Online Banking,

            2: Over-the-Counter Banking and ATM,

            4: Over-the-Counter non-Bank,

            8: E-Wallets (inc. Bitcoins),

            16: (reserved internally),

            32: PayPal,

            64: Credit Cards,

            128: Mobile (Gcash),

            256: International OTC,

            512: Bancnet,

            1024: Auto Debit Arrangement (ADA),

            2048: Cash on Delivery (COD),

            4096: Installments.

            Mode of payment processing.'
          enum:
          - '1'
          - '2'
          - '4'
          - '8'
          - '16'
          - '32'
          - '64'
          - '128'
          - '256'
          - '512'
          - '1024'
          - '2048'
          - '4096'
        redirection_parameters:
          $ref: '#/components/schemas/RedirectionParametersDTO'
    FailureResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    AfterPayRequestDTO:
      type: object
      required:
      - afterpay
      - capture_now
      - merchant_reference
      properties:
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        afterpay:
          $ref: '#/components/schemas/AfterPay'
        locale:
          type: string
          description: 'Locale Code. Valid Values: en_GB and en_US'
        customer_ip:
          type: string
          description: The IP address of the customer
        recurring_type:
          type: string
          description: This field is to be used only when a transaction is part of a series of recurring transactions. If it's the initial transaction, set the value to 'first', and if it's not, set it to 'recurring'. This field must not be included in transactions that will not be part of a series of repeated transactions. (All values are written in lowercase letters).
          enum:
          - first
          - recurring
          - mit
          - cit
          - oneclick
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        ' billing_address':
          type: array
          description: 'billingAddress '
          items:
            $ref: '#/components/schemas/AfterpayBillingAddress'
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        duplicate_check:
          type: string
          description: This indicates the system whether to perform duplicate check on the transaction or not. A request is considered duplicate if the merchant_reference has already been used within last 24 hours.
        airline_data:
          description: airlineData
          $ref: '#/components/schemas/airlineData'
    ThreeDSCardEnroll:
      type: object
      properties:
        cavv:
          type: string
        eci:
          type: string
        three_ds_authenticated:
          type: boolean
        three_ds_enrollment:
          type: string
        ucaf_collection_indicator:
          type: string
        xid:
          type: string
        three_ds_required:
          type: boolean
          example: false
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
        three_ds_version:
          type: string
          description: The 3-D Secure version used for the authentication.
          enum:
          - '1.0'
          - '2.0'
          - 1.0.2
          - 2.1.0
          - 2.2.0
        term_url:
          type: string
          description: The return url to which the customer is redirected after a transaction is processed.
        reference_id:
          type: string
          description: Cardinal Session ID sent in the response after initialization of JWT with Cardinal. This is mandatory when three_ds_version is 2.0.
    Ideal-Giropay:
      type: object
      required:
      - account_holder_name
      - redirection_parameters
      properties:
        account_holder_name:
          type: string
          description: 'Name of the account holder.


            Note: Only numeric characters are not support'
        bic:
          type: string
          description: BIC of the consumer’s account.
        redirection_parameters:
          $ref: '#/components/schemas/PproRedirectionParameterDTO'
    Skrill:
      type: object
      required:
      - account_holder_name
      - redirect_urls
      properties:
        account_holder_name:
          type: string
          description: 'Name of the account holder.


            Note: Only numeric characters are not support'
        redirect_urls:
          $ref: '#/components/schemas/RedirectUrlsDTO'
    PproRedirectionParameterDTO:
      type: object
      required:
      - return_url
      properties:
        return_url:
          type: string
          description: The return url to which the customer is redirected after an transaction is processed.
    SkrillFailedPaymentResponseDTO:
      type: object
      required:
      - amount
      - skrill
      properties:
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see **[reason codes](#section/Appendix)** section for declined scenarios and **[error codes](#section/Appendix)** section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
        status:
          type: string
          description: Status of the transaction.
        amount:
          type: string
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        skrill:
          $ref: '#/components/schemas/skrill'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/PspErrorDTO'
    FraudPredictions:
      type: object
      properties:
        error_message:
          type: string
          description: A description of the error.
        rec:
          type: string
        rules_triggered:
          type: array
          description: The rules triggered for the fraud predictions
          items:
            type: string
        score:
          type: integer
          format: int32
          description: Total score calculated for this order. The value cannot be negative
    PixBaseCustomerDetails:
      type: object
      required:
      - address
      - dateOfBirth
      - email
      - firstName
      - lastName
      - phone
      properties:
        address:
          description: Some fields may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information.
          $ref: '#/components/schemas/pixAddressDetails'
        dateOfBirth:
          type: string
          description: The date of birth of a customer, 10 characters, ISO-8601 (YYYY-MM-DD).
        email:
          type: string
          description: 'Email address of the customer.


            Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(â€˜)'
        firstName:
          type: string
          description: First name of the customer.
        lastName:
          type: string
          description: Last name of the customer.
        phone:
          type: string
          description: 'Numbers only, no dash or any other separator.


            Note: Length - min(3) & max(20)'
    PproFailureResponse:
      type: object
      required:
      - _id
      - code
      - details
      - errors
      - merchant_reference
      - message
      - organisation_id
      - status
      - timestamp
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    RiskInformationResponseDTO:
      type: object
      properties:
        case_priority:
          type: string
        info_codes:
          $ref: '#/components/schemas/InfoCodesDTO'
        local_time:
          type: string
        profile_response:
          $ref: '#/components/schemas/ProfileDTO'
        providers:
          $ref: '#/components/schemas/ProvidersDTO'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        score:
          $ref: '#/components/schemas/ScoreDTO'
    GooglePayResponseDTO:
      type: object
      required:
      - amount
      properties:
        billing_address:
          $ref: '#/components/schemas/Address'
        card:
          $ref: '#/components/schemas/CardDTO'
        delivery_address:
          $ref: '#/components/schemas/Address'
        details:
          $ref: '#/components/schemas/Details'
        external_risk_data:
          $ref: '#/components/schemas/FraudCheckResponse'
        fraud_predictions:
          type: array
          items:
            $ref: '#/components/schemas/FraudPredictions'
        three_ds:
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
          $ref: '#/components/schemas/ThreeDSCardEnrolRequest'
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        authorization_code:
          type: string
          description: An authorisation code assigned by the processing platform
        blocked:
          type: boolean
          example: false
          description: True if the transaction has been blocked by a ruleset, false otherwise
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        customer_ip:
          type: string
          description: The IP address of the customer
        pares:
          type: string
          description: The unmodified PaRes value as received after the customer was redirected back from 3DS Authentication.
        recurring_type:
          type: string
          description: The value used to flag how the acquirer/ issuer should consider the transaction
          enum:
          - first
          - recurring
          - oneclick
          - mit
          - cit
          - install
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        actions:
          type: array
          items:
            type: string
        created_at:
          type: string
          description: The time at which the transaction was created
        cvv_present:
          type: boolean
          example: false
          description: True if the card was used with a cvv
        fees:
          type: array
          items:
            type: integer
            format: int32
        geo_location:
          type: array
          description: The latitude/longitude resolved from the customer's ip address
          items:
            type: integer
            format: int32
        payment_product:
          type: string
          description: The payment product corresponding to this transaction
        card_brand:
          type: string
          description: Card brand for the card used for processing
          enum:
          - amex
          - diners
          - discover
          - elo
          - jcb
          - maestro
          - mastercard
          - visa
          - visa electron
          - carte bancaire
        last_status_update:
          type: string
          description: The last time when the status of the transaction was updated
        issuer_name:
          type: string
          description: Card Issuer Name for this transaction
        issuer_country:
          type: string
          description: Issuing country of the card. A 2-letter ISO3166 alpha-2. Acquirer country code
        organisation_psp_name:
          type: string
          description: The name of the processor as setup within the APEXX payment gateway. i.e. Merchant Name - Acquirer Name
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see **[reason codes](#section/Appendix)** section for declined scenarios and **[error codes](#section/Appendix)** section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
        status:
          type: string
          description: Status of the transaction.
          enum:
          - AUTHORISED
          - CAPTURED
          - DECLINED
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        cvv_result:
          type: string
          description: CVV verification result, as returned by the processor.
        avs_result:
          type: string
          description: Address verification services result, as returned by the processor
        acquirer_name:
          type: string
          description: The name of the acquirer as setup within the APEXX payment gateway.
    ApplePayResponseDTO:
      type: object
      required:
      - amount
      - card
      properties:
        card:
          $ref: '#/components/schemas/RiskCheckCardDetails'
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        authorization_code:
          type: string
          description: An authorisation code assigned by the processing platform
        blocked:
          type: boolean
          example: false
          description: True if the transaction has been blocked by a ruleset, false otherwise
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        customer_ip:
          type: string
          description: The IP address of the customer
        pares:
          type: string
          description: The unmodified PaRes value as received after the customer was redirected back from 3DS Authentication.
        recurring_type:
          type: string
          description: The value used to flag how the acquirer/ issuer should consider the transaction
          enum:
          - first
          - recurring
          - oneclick
          - mit
          - cit
          - install
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        actions:
          type: array
          items:
            type: string
        created_at:
          type: string
          description: The time at which the transaction was created
        cvv_present:
          type: boolean
          example: false
          description: True if the card was used with a cvv
        fees:
          type: array
          items:
            type: integer
            format: int32
        geo_locations:
          type: array
          description: The latitude/longitude resolved from the customer's ip address
          items:
            type: integer
            format: int32
        card_brand:
          type: string
          description: Card brand for the card used for processing
          enum:
          - amex
          - diners
          - discover
          - elo
          - jcb
          - maestro
          - mastercard
          - visa
          - visa electron
          - carte bancaire
        last_status_update:
          type: string
          description: The last time when the status of the transaction was updated
        issuer_name:
          type: string
          description: Card Issuer Name for this transaction
        billing_address:
          description: Some fields may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information.
          $ref: '#/components/schemas/BillingAddressApplepay'
        issuer_country:
          type: string
          description: Issuing country of the card. A 2-letter ISO3166 alpha-2. Acquirer country code
        delivery_address:
          description: Some fields may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information.
          $ref: '#/components/schemas/deliveryAddress'
        organisation_psp_name:
          type: string
          description: The name of the processor as setup within the APEXX payment gateway. i.e. Merchant Name - Acquirer Name
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see **[reason codes](#section/Appendix)** section for declined scenarios and **[error codes](#section/Appendix)** section for failed scenarios.
        details:
          $ref: '#/components/schemas/Details'
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
        payment product = "card":
          type: string
          description: The payment product corresponding to this transaction
        status:
          type: string
          description: Status of the transaction.
          enum:
          - AUTHORISED
          - CAPTURED
          - DECLINED
        fraud_predictions:
          type: array
          items:
            $ref: '#/components/schemas/FraudPredictions'
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        three_ds:
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
          $ref: '#/components/schemas/ThreeDSCardEnroll'
        cvv_result:
          type: string
          description: CVV verification result, as returned by the processor.
        avs_result:
          type: string
          description: Address verification services result, as returned by the processor
        acquirer_name:
          type: string
          description: The name of the acquirer as setup within the APEXX payment gateway.
        external_risk_data:
          $ref: '#/components/schemas/FraudCheckResponse'
    ThreeDSCardEnrolRequest:
      type: object
      properties:
        three_ds_enrollment:
          type: boolean
          example: false
          description: 'Card’s enrollment status.


            **Note:** This field is required by certain acquirers, please ask your implementation manager for details.'
        three_ds_required:
          type: string
          description: Enroll a given transaction for 3D-secure to verify whether authentication is supported for the card being used.
        three_ds_version:
          type: string
          description: The 3-D Secure version used for the authentication.
          enum:
          - '1.0'
          - '2.0'
          - 1.0.2
          - 2.1.0
          - 2.2.0
        term_url:
          type: string
          description: The return url to which the customer is redirected after a transaction is processed.
        eci:
          type: string
          description: The Electronic Commerce Indicator (ECI).
        xid:
          type: string
          description: 3-D Secure X id.
        cavv:
          type: string
          description: 3-D Secure "Cardholder Authentication Verification Value"
        pares:
          type: string
          description: 'Result of the authentication check. This field can contain one of these values:


            A: Proof of authentication attempt was generated.


            N: Customer failed or canceled authentication. Transaction denied.


            U: Authentication not completed regardless of the reason.


            Y: Customer was successfully authenticated.'
        veres:
          type: string
          description: 'Result of the enrollment check. This field can contain one of these values:


            Y: Card enrolled or can be enrolled; you must authenticate. Liability shift.


            N: Card not enrolled; proceed with authorization. Liability shift.


            U: Unable to authenticate regardless of the reason. No liability shift.


            B: Indicates that authentication was bypassed.'
        authentication_result:
          type: string
          description: 'Raw authentication data that comes from the cardissuing bank. Primary authentication field that indicates if authentication was successful and if liability shift occurred. You should examine first the result of this field. This field contains one of these values:


            -1: Invalid PARes.


            0: Successful validation.


            1: Cardholder is not participating, but the attempt to authenticate was recorded.


            6: Issuer unable to perform authentication.


            9: Cardholder did not complete authentication.'
    FailureResponseDTOApplepay:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    PproPixPaymentRequestDTO:
      type: object
      required:
      - amount
      - currency
      - customer
      - dynamic_descriptor
      - merchant_reference
      - organisation
      - pix
      properties:
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        locale:
          type: string
          description: Locale code
          enum:
          - en_GB
          - en_US
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        shopper_interaction:
          type: string
          description: 'Determines the point of sale of a customer.Default values: ecommerce'
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        pix:
          $ref: '#/components/schemas/Pix'
        customer:
          $ref: '#/components/schemas/PixBaseCustomerDetails'
        duplicate_check:
          type: string
          description: This indicates the system whether to perform duplicate check on the transaction or not. A request is considered duplicate if the merchant_reference has already been used within last 24 hours.
    PaypalSTC:
      type: object
      properties:
        key:
          type: string
          description: The key for the pair
        value:
          type: string
          description: The value for the pair
    InfoCodesDTO:
      type: object
      properties:
        address:
          type: array
          items:
            type: string
        customer_list:
          type: array
          items:
            type: string
        global_velocity:
          type: array
          items:
            type: string
        identity_change:
          type: array
          items:
            type: string
        internet:
          type: array
          items:
            type: string
        phone:
          type: array
          items:
            type: string
        suspicious:
          type: array
          items:
            type: string
        velocity:
          type: array
          items:
            type: string
    Blik:
      type: object
      required:
      - account_holder_name
      - redirection_parameters
      properties:
        account_holder_name:
          type: string
          description: 'Name of the account holder.


            Note: Only numeric characters are not support'
        redirection_parameters:
          $ref: '#/components/schemas/PproRedirectionParameterDTO'
    RedirectionParameterDTO:
      type: object
      required:
      - return_url
      properties:
        return_url:
          type: string
          description: The return url to which the customer is redirected after an transaction is processed.
        cancel_return_url:
          type: string
          description: The URL where the customer is redirected after the customer cancels the payment.
    DragonpayErrorResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        url:
          type: string
          description: 'Hosted payment page URL.Note: URL will not be sent in case of DECLINED or FAILED Scenario'
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of Success, see reason codes section for declined scenarios and error codes section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0.
        status:
          type: string
          enum:
          - FAILED
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        dragonpay:
          description: Dragonpay
          $ref: '#/components/schemas/dragonPay'
    Google_Pay:
      type: object
      required:
      - encrypted_payment_data
      properties:
        encrypted_payment_data:
          type: string
          description: Encrypted Payment data received from Googlepay after user authenticates with Fingerprint or Face ID.
        ephemeral_public_key:
          type: string
          description: This is a temporary key for generating shared secret. This is different for each transaction
        googlepay_transaction_id:
          type: string
          description: Googlepay Transaction id received from googlepay.
        signature:
          type: string
          description: This is a temporary key for generating shared secret. This is different for each transaction
    PproPixPaymentResponceDTO:
      type: object
      required:
      - _id
      - amount
      - merchant_reference
      - reason_code
      - status
      - url
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        pix:
          $ref: '#/components/schemas/PixResponse'
        url:
          type: string
          description: The checkout URL generated by Apexx against the checkout URL of Trustly.
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of Success, see reason codes section for declined scenarios and error codes section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0.
        status:
          type: string
          description: 'Valid Values: PENDING,DECLINED,FAILED'
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        amount:
          type: string
          description: Amount received in the request.
    PspErrorDTO:
      type: object
      properties:
        apexx_return_code:
          type: string
          description: A return code assigned by the APEXX payment platform; '0' in case of AUTHORISED/CAPTURED, see reason codes section for declined scenarios and error codes section for failed scenarios.
        apexx_return_message:
          type: string
          description: A return message assigned by the APEXX payment platform. Reason message will return if reason_code is not 0
        field_reference:
          type: string
          description: Reference to field that caused an error.
        psp_return_code:
          type: string
          description: A return code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see reason codes section for declined scenarios and error codes section for failed scenarios.
        psp_return_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
    NetworkToken:
      type: object
      required:
      - network_token
      properties:
        network_token:
          type: string
          description: The network token cryptogram representing the payment card.
        create_network_token:
          type: boolean
          example: false
          description: Whether to create a network token or not for the card. Defaults to 'false'. Setting it to 'true' will create the network token for the card.
    AuthorisePaymentCustomer:
      type: object
      properties:
        account_number:
          type: string
          description: This is the recipient's account number.
        customer_id:
          type: string
          description: The customer_id of recipient's.
        date_of_birth:
          type: string
          description: The date of birth of a customer, 10 characters, ISO-8601 (YYYY-MM-DD).
        last_name:
          type: string
          description: Last name of the customer.
        postal_code:
          type: string
          description: 'This is the recipient''s postcode/zip.


            Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and single space'
    AntomFailureResponse:
      type: object
      required:
      - _id
      - amount
      - merchant_reference
      - reason_code
      - status
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of Success, see reason codes section for declined scenarios and error codes section for failed scenarios.
        reason_message:
          type: string
          description: A description of the error.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        status:
          type: string
          enum:
          - PENDING
          - DECLINED
          - FAILED
        amount:
          type: number
          description: Amount received in the request.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
    deviceInformation:
      type: object
      properties:
        http_color_depth:
          type: string
          description: Represents the bit depth of color supported by the user’s display environment. It indicates how many bits are used to represent the color of a single pixel, which in turn defines the range of distinct colors that can be displayed.
        http_java_enabled:
          type: string
          description: Indicates whether the customer’s browser supports and has Java enabled (true / false).This helps assess the browser environment and can be used in device fingerprinting or fraud risk checks.
        http_java_script_enabled:
          type: string
          description: Indicates whether the customer’s browser has JavaScript enabled (true / false).Helps determine if the environment supports interactive web features and can be used for fraud/risk evaluation.
        http_browser_language:
          type: string
          description: The default language setting of the customer’s browser (e.g., "en-US", "fr-FR").Useful for localization, risk analysis, and understanding customer preferences.
        http_screen_height:
          type: string
          description: The height of the customer’s device screen in pixels (e.g., 1080).Often captured to verify the device profile.
        http_screen_width:
          type: string
          description: The width of the customer’s device screen in pixels (e.g., 1920).Used together with http_screen_height to describe display resolution.
        http_time_difference:
          type: string
          description: The time zone offset (in minutes or hours) between the customer’s local device time and UTC (e.g., +330 for IST).Helps in detecting anomalies if device time doesn’t match geolocation.
        customer_ip:
          type: string
          description: The IP address of the customer’s device at the time of transaction (IPv4 or IPv6).Commonly used for geolocation and fraud detection.
        http_accept_browser_value:
          type: string
          description: 'The raw Accept header value sent by the browser


            (e.g."text/html","application/xhtml+ xml","application/xml";"q=0.9")


            Identifies the content types the browser supports.'
        user_agent_browser_value:
          type: string
          description: The raw User-Agent header string provided by the browser (e.g., Mozilla/5.0 (Windows NT 10.0; Win64; x64)).Contains information about browser,OS,and device.
        device_channel:
          type: string
          description: Specifies the channel through which the transaction is initiated (e.g., "BROWSER", "APP", "POS").<br>Helps in categorizing the origin of the request.For HPP and for javascript based transactions value should be BROWSER.
    OrderItemsDTO:
      type: object
      properties:
        invoice_number:
          type: string
          description: Invoice id of the order
        total_tax_amount:
          type: string
          description: The total tax for all items. Required if the request includes purchase_units.items.tax. Must equal the sum of (order.items[].tax_amount * order.items[].quantity) for all items.
        description:
          type: string
          description: The purchase description.
        items:
          type: array
          items:
            $ref: '#/components/schemas/PaypalItemDetailsDTO'
    PproGiroPaymentRequestDTO:
      type: object
      required:
      - amount
      - merchant_reference
      properties:
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        giropay:
          $ref: '#/components/schemas/Ideal-Giropay'
        customer:
          description: customer
          $ref: '#/components/schemas/GiroPayCustomer'
        delivery_customer:
          $ref: '#/components/schemas/DeliveryCustomer'
        customer_ip:
          type: string
          description: The IP address of the customer
        recurring_type:
          type: string
          description: This field is to be used only when a transaction is part of a series of recurring transactions. If it's the initial transaction, set the value to 'first', and if it's not, set it to 'recurring'. This field must not be included in transactions that will not be part of a series of repeated transactions. (All values are written in lowercase letters).
          enum:
          - first
          - recurring
          - mit
          - cit
          - oneclick
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        locale:
          type: string
          description: Locale code
          enum:
          - en_GB
          - en_US
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        duplicate_check:
          type: string
          description: This indicates the system whether to perform duplicate check on the transaction or not. A request is considered duplicate if the merchant_reference has already been used within last 24 hours.
        airline_data:
          description: airlineData
          $ref: '#/components/schemas/airlineData'
    deliveryAddress:
      type: object
      properties:
        address:
          type: string
          description: Street address of the delivery customer.
        city:
          type: string
          description: City of the delivery customer
        country:
          type: string
          description: "A 2-letter ISO3166 alpha-2. country code for the address. \n\nNote: Alphabets upto two characters (e.g. GB, RU etc..)"
        email:
          type: string
          description: 'Email address of the card holder.


            Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(â€˜)'
        phone:
          type: string
          description: 'Numbers only, no dash or any other separator.


            Note: Length - min(3) & max(20)'
        postal_code:
          type: string
          description: A postal code for the address.
        state:
          type: string
          description: A region / state / province for the address.
    PproBancontactPaymentResponseDTO:
      type: object
      required:
      - amount
      properties:
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        bancontact:
          $ref: '#/components/schemas/BancontactResponse'
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see **[reason codes](#section/Appendix)** section for declined scenarios and **[error codes](#section/Appendix)** section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
        status:
          type: string
          description: Status of the transaction.
          enum:
          - PENDING
          - DECLINED
        url:
          type: string
          description: 'Hosted payment page URL.Note: URL will not be sent in case of DECLINED or FAILED Scenario'
        amount:
          type: string
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
    giroAddressDetails:
      type: object
      properties:
        address:
          type: string
          description: Street address of the delivery customer.
        city:
          type: string
          description: City of the delivery customer
        state:
          type: string
          description: A region / state / province for the address.
        postal_code:
          type: string
          description: 'This is the recipient''s postcode/zip.


            Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and single space'
        country:
          type: string
          description: "A 2-letter ISO3166 alpha-2. country code for the address. \n\nNote: Alphabets upto two characters (e.g. GB, RU etc..)"
          enum:
          - DE
    BancontactPayCustomer:
      type: object
      properties:
        address:
          description: Some fields may be mandatory for certain acquirers. Please speak to your Implementation Manager for further information.
          $ref: '#/components/schemas/bancontactAddressDetails'
        date_of_birth:
          type: string
          description: The date of birth of a customer, 10 characters, ISO-8601 (YYYY-MM-DD).
        email:
          type: string
          description: 'Email address of the customer.


            Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(â€˜)'
        first_name:
          type: string
          description: First name of the customer.
        last_name:
          type: string
          description: Last name of the customer.
        phone:
          type: string
          description: 'Numbers only, no dash or any other separator.


            Note: Length - min(3) & max(20)'
    PaypalPaymentResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        url:
          type: string
          description: 'Hosted payment page URL.Note: URL will not be sent in case of DECLINED or FAILED Scenario'
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of Success, see reason codes section for declined scenarios and error codes section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0.
        status:
          type: string
          enum:
          - AUTHENTICATION_REQUIRED
          - DECLINED
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
    AfterpayBlockResponseDTO:
      type: object
      required:
      - customer
      - gross_amount
      - payment_type
      properties:
        payment_type:
          type: string
          enum:
          - Invoice
          - Account
          - Installment
          - Consolidatedinvoice
        gross_amount:
          type: integer
          format: int64
          description: Total gross amount of order. Must match the grossUnitPrice * quantity of order items
        net_amount:
          type: integer
          format: int64
          description: Total net amount of order.
        customer:
          $ref: '#/components/schemas/AfterpayCustomer'
        delivery_customer:
          $ref: '#/components/schemas/DeliveryCustomerDTO'
        expiration_date:
          type: string
        reservation_id:
          type: string
        risk_check_messages:
          $ref: '#/components/schemas/RiskCheckMessagesDTO'
    Paysafecard:
      type: object
      required:
      - account_holder_name
      - redirect_urls
      properties:
        account_holder_name:
          type: string
          description: 'Name of the account holder.


            Note: Only numeric characters are not support'
        redirect_urls:
          $ref: '#/components/schemas/RedirectUrlsDTO'
    AfterpayDeliveryCustomerDTO:
      type: object
      required:
      - type
      properties:
        first_name:
          type: string
          description: First name of the delivery customer.
        last_name:
          type: string
          description: The last name(s) of recipient's.
        phone:
          type: string
          description: 'Numbers only, no dash or any other separator.


            Note: Length - min(3) & max(20)'
        salutation:
          type: string
          description: Salutation of the customer
        type:
          type: string
          description: Type of the customer. Customer category.
        care_of:
          type: string
          description: Care of. Intermediary who is responsible for transferring a piece of mail between the postal system and the final addressee. For example Jane c/o John (“Jane at John's address”). This field has to be used for company, authority and organization names as well - e. g. "Sportverein Blau-Weiß e.V.
        address:
          type: string
          description: Street address of the delivery customer.
        city:
          type: string
          description: City of the delivery customer
        postal_code:
          type: string
          description: "A postal code for the address. \" \n\n Note: All Characters are allowed"
        country:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. country code for the address.


            Note: Alphabets upto two characters (e.g. GB, RU etc..'
    PaysafeFailureResponse:
      type: object
      required:
      - _id
      - code
      - details
      - errors
      - merchant_reference
      - message
      - organisation_id
      - status
      - timestamp
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    SkrillPaymentResponseDTO:
      type: object
      required:
      - _id
      - amount
      - merchant_reference
      - reason_code
      - skrill
      - status
      - url
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        url:
          type: string
          description: 'Hosted payment page URL.Note: URL will not be sent in case of DECLINED or FAILED Scenario'
        skrill:
          $ref: '#/components/schemas/skrill'
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of Success, see reason codes section for declined scenarios and error codes section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0.
        status:
          type: string
          description: 'Valid Values: PENDING,DECLINED,FAILED'
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        amount:
          type: string
          description: Amount received in the request.
    ProfileDTO:
      type: object
      properties:
        name:
          type: string
        selectorRule:
          type: string
    Agency:
      type: object
      properties:
        agency_code:
          type: string
          description: Travel agency code
        agency_name:
          type: string
          description: Travel agency name
        agency_address:
          type: string
          description: "Street address of the card holder. \n\nNote:  All characters support "
        agency_city:
          type: string
          description: 'City of the card holder.


            Note: Only alphabetic characters, Special characters allowed are (hyphen(-), underscore(_), dot(.), comma(,))'
        agency_state:
          type: string
          description: 'A region / state / province for the address.


            Note: Only alphabetic characters, Special characters allowed are (hyphen(-), underscore(_), dot(.), comma(,))'
        agency_postal_code:
          type: string
          description: 'A postal code for the address.


            Note: Only alpha-numeric characters'
        agency_country:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. country code for the address


            . Note: Alphabets upto two characters (e.g. GB, RU etc..)'
    AfterPay:
      type: object
      required:
      - customer
      - gross_amount
      - items
      - payment_type
      properties:
        payment_type:
          type: string
          enum:
          - Invoice
          - Account
          - Installment
          - Consolidatedinvoice
        gross_amount:
          type: integer
          format: int64
          description: Total gross amount of order. Must match the grossUnitPrice * quantity of order items
        net_amount:
          type: integer
          format: int64
          description: Total net amount of order.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemDetails'
        customer:
          $ref: '#/components/schemas/AfterpayCustomer'
        delivery_customer:
          $ref: '#/components/schemas/AfterpayDeliveryCustomerDTO'
        risk_data:
          description: Afterpay Risk Data
          $ref: '#/components/schemas/RiskDataDTO'
        campaign:
          description: Campaign information
          $ref: '#/components/schemas/CampaignDTO'
        direct_debit:
          description: Direct debit information
          $ref: '#/components/schemas/DirectDebitDTO'
        installment:
          description: Installment information
          $ref: '#/components/schemas/InstallmentDTO'
    AntomPaymentResponseDTO:
      type: object
      required:
      - _id
      - amount
      - merchant_reference
      - payment_method
      - reason_code
      - status
      - url
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        url:
          type: string
          description: The checkout URL generated by Apexx against the checkout URL of Antom.
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of Success, see reason codes section for declined scenarios and error codes section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0.
        status:
          type: string
          enum:
          - PENDING
          - DECLINED
          - FAILED
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        amount:
          type: number
          description: Amount received in the request.
        psp_transaction_reference:
          type: string
          description: This is the unique reference provided by Antom.
        payment_method:
          type: string
          description: 'Value must be echo back from the request '
    AfterpayCustomer:
      type: object
      required:
      - type
      properties:
        customer_identification_number:
          type: string
          description: National ID number (if the customer is a physical person). Registration number (if the customer is a company).
        email:
          type: string
          description: 'Email address of the customer


            Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(‘)'
        phone:
          type: string
          description: 'Numbers only, no dash or any other separator.


            Note: Length - min(3) & max(20)'
        salutation:
          type: string
          description: Salutation of the customer
          enum:
          - Mr
          - Mrs
          - Miss
        type:
          type: string
          description: Type of the customer. Customer category.
        care_of:
          type: string
          description: Care of. Intermediary who is responsible for transferring a piece of mail between the postal system and the final addressee. For example Jane c/o John (“Jane at John's address”). This field has to be used for company, authority and organization names as well - e. g. "Sportverein Blau-Weiß e.V.
        date_of_birth:
          type: string
          description: The date of birth of a customer, 10 characters, ISO-8601 (YYYY-MM-DD).
        customer_number:
          type: string
          description: This is the customer's account number.
    skrillAddressDetails:
      type: object
      required:
      - address
      - city
      - country
      - postal_code
      - state
      properties:
        address:
          type: string
          description: Street address of the delivery customer.
        city:
          type: string
          description: City of the delivery customer
        state:
          type: string
          description: A region / state / province for the address.
        postal_code:
          type: string
          description: 'This is the recipient''s postcode/zip.


            Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and single space'
        country:
          type: string
          description: "A 2-letter ISO3166 alpha-2. country code for the address. \n\nNote: Alphabets upto two characters (e.g. GB, RU etc..)"
    IdealResponse:
      type: object
      properties:
        account_holder_name:
          type: string
          description: 'Name of the account holder.


            Note: Only numeric characters are not support'
        payment_purpose:
          type: string
          description: Descriptor for response that consumer will receive.
        source_bic:
          type: string
          description: BIC of the consumer’s account.
        source_iban:
          type: string
          description: IBAN of the consumer’s account.
    AddressDetails:
      type: object
      properties:
        address:
          type: string
          description: Street address of the delivery customer.
        city:
          type: string
          description: City of the delivery customer
        state:
          type: string
          description: A region / state / province for the address.
        postal_code:
          type: string
          description: 'This is the recipient''s postcode/zip.


            Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and single space'
        country:
          type: string
          description: "A 2-letter ISO3166 alpha-2. country code for the address. \n\nNote: Alphabets upto two characters (e.g. GB, RU etc..)"
    PaymentInformationResponseDTO:
      type: object
      properties:
        accountType:
          type: string
        bin:
          type: string
        binCountry:
          type: string
        issuer:
          type: string
        scheme:
          type: string
    skrill:
      type: object
      required:
      - account_holder_name
      - payment_purpose
      properties:
        account_holder_name:
          type: string
          description: 'Name of the account holder.


            Note: Only numeric characters are not support'
        payment_purpose:
          type: string
          description: Descriptor for response that consumer will receive.
    PproIdealPaymentRequestDTO:
      type: object
      required:
      - amount
      - merchant_reference
      properties:
        account:
          type: string
          description: The ID of the account. Acts as an override. Must be submitted if organisation and currency are not used in the request.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        ideal:
          $ref: '#/components/schemas/Ideal-Giropay'
        customer:
          description: customer
          $ref: '#/components/schemas/IdealPayCustomer'
        delivery_customer:
          $ref: '#/components/schemas/DeliveryCustomer'
        customer_ip:
          type: string
          description: The IP address of the customer
        recurring_type:
          type: string
          description: This field is to be used only when a transaction is part of a series of recurring transactions. If it's the initial transaction, set the value to 'first', and if it's not, set it to 'recurring'. This field must not be included in transactions that will not be part of a series of repeated transactions. (All values are written in lowercase letters).
          enum:
          - first
          - recurring
          - mit
          - cit
          - oneclick
        user_agent:
          type: string
          description: The full user agent string of the device the customer used to submit the transaction
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        locale:
          type: string
          description: Locale code
          enum:
          - en_GB
          - en_US
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        duplicate_check:
          type: string
          description: This indicates the system whether to perform duplicate check on the transaction or not. A request is considered duplicate if the merchant_reference has already been used within last 24 hours.
        airline_data:
          description: airlineData
          $ref: '#/components/schemas/airlineData'
    ClientReferenceInformationDTO:
      type: object
      properties:
        code:
          type: string
    PproBlikFailedPaymentResponseDTO:
      type: object
      required:
      - _id
      - amount
      - merchant_reference
      - reason_code
      - reason_message
      - status
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        url:
          type: string
          description: 'Hosted payment page URL.Note: URL will not be sent in case of DECLINED or FAILED Scenario'
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of Success, see reason codes section for declined scenarios and error codes section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0.
        blik:
          $ref: '#/components/schemas/BlikResponse'
        status:
          type: string
          description: FAILED
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        amount:
          type: string
[...]
