openapi: 3.2.0
info:
  description: '# Using the API


    ## Authentication

    Authentication is managed using an API key, which is provided to you.'
  version: '2.0'
  title: APEXX FINTECH SDK API
  license:
    name: Apexx Fintech Ltd
    url: https://www.apexxfintech.com/legal-documentation/
servers:
- url: https://sandbox.apexx.global/atomic/v1/
tags:
- name: SDK
  description: 'JavaScript SDK Integration 1.0.0


    The Apexx Payment Integration SDK is a comprehensive solution designed to streamline payment processing for merchants by integrating multiple payment methods into a single, unified platform.'
paths:
  '/api/complete_order/{transactionId}           ':
    post:
      tags:
      - SDK
      summary: Paypal Complete Order
      description: Completing Authorisation/capture of the transaction
      operationId: paypalCompletOrderUsingPOST
      parameters:
      - name: transactionId
        in: path
        description: The ID of the transaction
        required: true
        schema:
          type: string
      - name: X-APIKEY
        in: header
        description: "X-APIKEY\n \n Optional if Key is supplied in the header."
        required: false
        schema:
          type: string
      - name: key
        in: header
        description: "Key\n \n Encrypted key from the response of Get Encrypted API call.\nOptional if X-APIKEY is supplied in the header."
        required: false
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalCompleteOrderResponce'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalCompleteOrderFailureResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalCompleteOrderFailureResponseDTO'
        '412':
          description: Processing Errors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalCompleteOrderResponce'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalCompleteOrderFailureResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalCompleteOrderFailureResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaypalCompleteOrder'
        description: ' '
  '/api/encryptedpayload           ':
    post:
      tags:
      - SDK
      summary: Paypal SDK Payment
      description: Make a transaction with Paypal request
      operationId: paypalSdkPaymentRequestUsingPOST
      parameters:
      - name: X-APIKEY
        in: header
        description: X-APIKEY
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON representation of the related transaction
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EncryptedPayloadResponseDTO'
        '400':
          description: "Bad / Invalid request\t"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '401':
          description: Unauthenticated user / missing API Key
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailureResponseDTO'
        '403':
          description: Forbidden error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '500':
          description: Internal Server Error / Unexpected Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaypalErrorResponseDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaypalEncryptedRequest'
        description: ' '
components:
  schemas:
    PaypalEncryptedRequest:
      type: object
      required:
      - amount
      - capture_now
      - merchant_reference
      properties:
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        currency:
          type: string
          description: Currency using which transaction needs to be processed. Must be submitted if account is not used in the request. This field is ignored if submitted along with the account, Apexx uses the currency configured with the account to process the transaction when account is submitted. A 3-letter ISO 4217 currency code, see Currencies Section for more details.
        amount:
          type: number
          description: Amount is charged without a decimal place e.g. $1.50 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details.
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        dynamic_descriptor:
          type: string
          description: A short reference/descriptor that will show up on the customers bank statement. Only supported by some acquirers. Please confirm with your Implementation Manager for supported acquirers and formats.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        customer_ip:
          type: string
          description: The IP address of the customer
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        shopper_interaction:
          type: string
          description: Determines the point of sale of a customer.
          enum:
          - ecommerce
          - pos
          - moto
          - unknown
        duplicate_check:
          type: string
          description: This indicates the system whether to perform duplicate check on the transaction or not. A request is considered duplicate if the merchant_reference has already been used within last 24 hours.
        customer:
          description: Customer details
          $ref: '#/components/schemas/PaypalSDKCustomer'
        order:
          description: Order details
          $ref: '#/components/schemas/SdkPaypalOrderIDTO'
        paypal:
          description: Paypal details
          $ref: '#/components/schemas/PaypalSDK'
        merchant_data:
          description: Merchant Data
          $ref: '#/components/schemas/MerchantData'
        travel_data:
          description: Travel data - data relating to hotel bookings, cruise/trip details/car rental/accomodation rental
          $ref: '#/components/schemas/PaypalSDK_TravelData'
    PaypalCustomerResponse:
      type: object
      properties:
        billing:
          description: BillingAddress
          $ref: '#/components/schemas/BillingAddressDetails'
        delivery:
          description: DeliveryAddress
          $ref: '#/components/schemas/DeliveryCustomerSDK'
    PaypalSTC:
      type: object
      properties:
        key:
          type: string
          description: The key for the pair
        value:
          type: string
          description: The value for the pair
    Errors:
      type: object
      properties:
        error_code:
          type: integer
          format: int32
          description: Error Code
        property:
          type: string
          description: 'Property on which error occurs. e.g : it can be class name , field name'
        error_message:
          type: string
          description: Error message
    PaypalSDK_TravelData:
      type: object
      properties:
        pnr:
          type: string
          description: Reference number for the booking.
        booking_amount:
          type: number
          description: Total amount of booking.
        booking_type:
          type: string
          description: The type of booking being made.
          enum:
          - hotel
          - rental
          - car
          - cruise
          - flight
          - train
          - coach
        passengers:
          type: array
          description: Array of passenger names
          items:
            $ref: '#/components/schemas/Passengers'
        legs:
          type: array
          description: Array of legs of booking.
          items:
            $ref: '#/components/schemas/bnplLegs'
        discount_percentage:
          type: number
          description: Percentage dicount to be applied to booking
        loyalty_number:
          type: string
          description: Customer loyalty scheme number
        points:
          type: array
          description: Loyalty points/scheme details
          items:
            $ref: '#/components/schemas/Point'
        travel_mode_name:
          type: string
          description: Name of your mode of travel such as Airline, Ferry, Rail etc.
        travel_mode_numeric_code:
          type: integer
          format: int32
          description: Mode of Travel (Airline, Ferry, Rail etc.) numeric code
        agency:
          description: Agency
          $ref: '#/components/schemas/Agency'
        ticket_number:
          type: string
          description: Ticket/document number, or PNR locator code.
        check_digit:
          type: integer
          format: int32
          description: Check digit for the ticket number with Discover and Diners Club, a valid ticket number has these characteristics:<ul><li>The value is numeric.</li><li>The first three digits are a valid IATA2 license plate carrier code.</li><li>The last digit is a check digit or zero (0).</li><li>All remaining digits are nonzero.</li></ul>
        is_restricted:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction
          enum:
          - 'true'
          - 'false'
        transaction_type:
          type: integer
          format: int32
          description: Type of charge.
        extended_payment_code:
          type: string
          description: Airline/Travel Mode process identifier. This value is the airline’s three-digit IATA1 code which is used to process extended payment airline tickets
        passenger_title:
          type: string
          description: Title of the passenger
        passenger_name:
          type: string
          description: "Name of passenger.\n <b>Note:</b> Only alphabetic characters, Special characters allowed are (hyphen(-), underscore(_), dot(.), comma(,) and apostrophe(‘))."
        passenger_age_group:
          type: string
          description: Travelling passenger's age group.
          enum:
          - 16-24
          - 25-34
          - 35-44
          - 45-54
          - 55-64
          - 65 and up
          - Unknown
        is_lead:
          type: string
          description: Indicates whether the passenger is a lead passenger within the group.
          enum:
          - 'true'
          - 'false'
        customer_code:
          type: string
          description: <ol><li>Reference number or code that identifies the cardholder.</li><li>Code provided by the cardholder.</li><li>Address of the ticket issuer. The first 13 characters will appear onthe cardholder’s statement.</li><li>Customer reference..</li></ol>
        document_type:
          type: integer
          format: int32
          description: Airline/Travel mode document type code that specifies the purpose of the transaction. For the possible values, see Appendix A, "Airline Document Type Codes".
        document_number:
          type: string
          description: Ticket number or a value that might be a booking reference number.
        travel_legs_count:
          type: integer
          format: int32
          description: 'Number of travel legs. Numbering for the travel legs: 0 to 3.'
        invoice_number:
          type: string
          description: Invoice number of the ticket.
        invoice_date:
          type: string
          description: Invoice date. The format is YYYY-MM-DD. If this value is included in the request, it is used in the creation of the invoice number.
        additional_charge_description:
          type: string
          description: Description of the charge.
        total_fee_amount:
          type: integer
          format: int32
          description: Total fee for the ticket.
        clearing_sequence:
          type: integer
          format: int32
          description: Total number of captures when requesting multiple partial captures for one authorisation.
        clearing_count:
          type: integer
          format: int32
          description: Total number of clearing count associated with the authorisation request.
        total_clearing_amount:
          type: integer
          format: int32
          description: Total clearing amount for all transactions in the clearing count set.
        passenger_count:
          type: integer
          format: int32
          description: Number of passengers for whom the ticket was issued.
        reservation_system_code:
          type: string
          description: Code that specifies the computerized reservation system used to make the reservation and purchase the ticket.
        process_identifier:
          type: string
          description: Airline/Travel mode process identifier. This value is the airline’s three-digit IATA1 code which is used to process extended payment airline tickets.
        issue_date:
          type: string
          description: 'Date on which the ticket was issued. Format: YYYY-MM-DD'
        is_eticket:
          type: string
          description: Indicates whether the issued ticket was electronic or not.
          enum:
          - 'true'
          - 'false'
        original_ticket_number:
          type: string
          description: Original ticket number when the transaction is for a replacement ticket.
        purchase_type:
          type: string
          description: "EXC: Exchange ticket, MSC: Miscellaneous, REF: Refund, TKT: Ticket. \n\n Type of purchase"
          enum:
          - EXC
          - MSC
          - REF
          - TKT
        credit_reason:
          type: string
          description: 'valid values :"A""B""C""O""P"

            A: Cancellation of the ancillary passenger transport purchase, B: Cancellation of the airline ticket and the passenger transport ancillary purchase, C: Cancellation of the airline ticket, O: Other, P: Partial refund of the airline ticket.

            Reason for the credit.'
          enum:
          - A
          - B
          - C
          - O
          - P
        ticket_change_indicator:
          type: string
          description: "C: Change to the existing ticket., \n N: New ticket.\n \n Type of update."
          enum:
          - C
          - N
        plan_number:
          type: string
          description: Plan number based on the fare. This value is provided by the airline/travel mode provider
        arrival_date:
          type: string
          description: 'Inbound arrival date and time of the booking. Format: YYYY-MM-DD HH:mm:ss'
        restricted_ticket_description:
          type: string
          description: Text that describes the ticket limitations, such as nonrefundable.
        exchange_ticket_amount:
          type: integer
          format: int32
          description: Amount of the exchanged ticket.
        exchange_ticket_fee_amount:
          type: integer
          format: int32
          description: Fee for exchanging the ticket.
        reservation_type:
          type: string
          description: Type of journey such as one way or round trip.
        boarding_fee_amount:
          type: number
          description: Boarding fee.
        affiliate_name:
          type: string
          description: Unique affiliate name identifier. This will help us support our merchant by attaching more details with the transaction.
    bnplLegs:
      type: object
      properties:
        insurance:
          type: array
          items:
            $ref: '#/components/schemas/Insurance'
        amount:
          type: integer
          format: int32
          description: Amount of leg of booking
        passenger_index:
          type: array
          description: Array of passenger index values of passengers present for this leg of booking.
          items:
            type: number
        check_in_date:
          type: string
          description: 'Start date of reservation. Format: YYYY-MM-DD HH:mm:ss'
        check_out_date:
          type: string
          description: 'End date of reservation. Format: YYYY-MM-DD HH:mm:ss'
        provider_group:
          type: string
          description: Name of hotel parent group
        provider_name:
          type: string
          description: Name of hotel chain
        room_count:
          type: integer
          format: int32
          description: Number of rooms under booking
        traveller_count:
          type: integer
          format: int32
          description: Number of travellers under booking
        origin_address:
          type: string
          description: "Street address of origin point.\n \n  Note: Supports only ISO-8859-1 characters."
        origin_city:
          type: string
          description: City Journey begins
        origin_postal_code:
          type: string
          description: 'A postal/zip code for the address. Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and spaces.'
        origin_country_code:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. country code for the address. Note: Alphabets upto two characters (e.g. GB, RU etc..)'
        route_stops:
          type: array
          description: Array of stopping points on trip
          items:
            $ref: '#/components/schemas/RouteStops'
        destination_address:
          type: string
          description: "Address of accomodation.\n \n  Note: Supports only ISO-8859-1 characters."
        destination_city:
          type: string
          description: Final destination City
        destination_postal_code:
          type: string
          description: 'A postal/zip code for the address. Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and spaces.'
        destination_country_code:
          type: string
          description: 'Destination country. A 2-letter ISO3166 alpha-2. country code for the address. Note: Alphabets upto two characters (e.g. GB, RU, etc.)'
        booking_type:
          type: string
          description: The type of booking being made.
          enum:
          - hotel
          - rental
          - car
          - cruise
          - flight
          - train
          - coach
        adults_count:
          type: integer
          format: int32
          description: Number of adults under booking
        child_count:
          type: integer
          format: int32
          description: Number of children under booking
        beds_count:
          type: integer
          format: int32
          description: Number of rooms under booking
        vehicle_type:
          type: string
          description: Name of vehicle being rented
        class:
          type: string
          description: Class of travel or stay. e.g. "first", "premium", "luxury suite" - free text field, not enum
        data:
          type: array
          description: Array of provider specific key values pairs, should be an array of the 'key_name' value and the 'value' value - Please speak to your Implementation manager for details on usage.
          items:
            $ref: '#/components/schemas/data'
        carrier_code:
          type: string
          description: Travel carrier code
        travel_mode_reference:
          type: integer
          format: int32
          description: Flight/Travel mode number excluding carrier code
        origin_port:
          type: string
          description: Origin airport/port/city IATA code
        service_class:
          type: string
          description: Service Class
          enum:
          - first class
          - Second class
          - business
          - Economic
          - 0 Ticket category/class ("0" if no class)
          - economy
          - premium economy
          - business class
        stop_over_code:
          type: string
          description: 'Stop over code -


            O (capital letter "O") or 0 (zero) : Stopover allowed


            X (capital letter "X") or 1 : Stopover not allowed'
          enum:
          - X
          - O
          - '1'
          - '0'
        departure_date:
          type: string
          description: Departure date. Format - YYYY-MM-DD HH:mm:ss
        arrival_date:
          type: string
          description: 'Inbound arrival date and time of the booking. Format: YYYY-MM-DD HH:mm:ss'
        destination_port:
          type: string
          description: Destination airport/port/city IATA code
        fare_basis_code:
          type: string
          description: Fare basis code
        departure_tax_amount:
          type: integer
          format: int32
          description: Amount of departure tax for this leg of the trip
        conjunction_ticket:
          type: string
          description: Ticket that contains additional coupons for this leg of the trip on an itinerary that has more than four segments
        exchange_ticket_number:
          type: string
          description: New ticket number that is issued when the ticket is exchanged for this leg of the trip.
        coupon_number:
          type: string
          description: Coupon number for the leg
        endorsements_restrictions:
          type: string
          description: Notes or notations about endorsements and restrictions for this leg of the trip. Endorsements can be notations added by the travel agency, including mandatory government required notations such as value added tax. Restrictions are limitations for the ticket based on the type of fare, such as a nonrefundable tic.
        total_fare_amount:
          type: integer
          format: int32
          description: Total fare for this leg of the trip.
        fee_amount:
          type: integer
          format: int32
          description: Fee for this leg of the trip, such as an airport/port fee or country/city fee
        tax_amount:
          type: integer
          format: int32
          description: Tax for this leg of the trip
        delivery:
          type: string
          description: 'Valid values: "delivery", "collection", "email". The way the item is being delivered'
    PspErrorDTO:
      type: object
      properties:
        apexx_return_code:
          type: string
          description: A return code assigned by the APEXX payment platform; '0' in case of AUTHORISED/CAPTURED, see reason codes section for declined scenarios and error codes section for failed scenarios.
        apexx_return_message:
          type: string
          description: A return message assigned by the APEXX payment platform. Reason message will return if reason_code is not 0
        field_reference:
          type: string
          description: Reference to field that caused an error.
        psp_return_code:
          type: string
          description: A return code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see reason codes section for declined scenarios and error codes section for failed scenarios.
        psp_return_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
    SdkPaypalOrderIDTO:
      type: object
      properties:
        invoice_number:
          type: string
          description: Invoice id of the order
        total_tax_amount:
          type: string
          description: The total tax for all items. Required if the request includes purchase_units.items.tax. Must equal the sum of (order.items[].tax_amount * order.items[].quantity) for all items.
        items:
          type: array
          items:
            $ref: '#/components/schemas/Items'
    data:
      type: object
      properties:
        key_name:
          type: string
          description: The name of the key for the key value pair. e.g. "meal type", "Extra Towels"
        value:
          type: string
          description: The value for the key value pair. e.g. "vegitarian"
    Insurance:
      type: object
      properties:
        agency_name:
          type: string
          description: Name of insurer
        type:
          type: string
          description: Type of insurance
          enum:
          - cancellation
          - travel
          - cancellation_travel
          - car
          - bankruptcy
        amount:
          type: integer
          format: int32
          description: Amount of order charged without a decimal place e.g. $1.50 = 150
    PaypalCompleteOrderFailureResponseDTO:
      type: object
      required:
      - errors
      properties:
        code:
          type: string
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        message:
          type: string
          description: A description of the response.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
    PaypalCompleteOrder:
      type: object
      properties:
        status:
          type: string
          description: Status of the request.
          enum:
          - APPROVED
          - FAILED
          - CANCELLED
    PaypalErrorResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        details:
          type: string
          description: Optional details concerning the error.
        message:
          type: string
          description: A description of the response.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
    PaypalSDK:
      type: object
      properties:
        funding_sources:
          type: string
          example: paypal, credit, venmo,paylater
          description: Comma-separated Values
          enum:
          - paypal
          - credit
          - venmo
          - paylater
        page_type:
          type: string
          description: checkout,product
          enum:
          - checkout
          - product
        stc:
          type: array
          items:
            $ref: '#/components/schemas/PaypalSTC'
    BillingAddressDetails:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the card holder
        last_name:
          type: string
          description: Last name of the card holder
        email:
          type: string
          description: Email address of the card holder
        address:
          type: string
          description: Street address of the card holder
        city:
          type: string
          description: City of the card holder
        state:
          type: string
          description: A region / state / province for the address
        postal_code:
          type: string
          description: A postal code for the address
        country:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. Country code for the address. Note: Alphabets upto two characters (e.g. GB, RU etc..)'
        phone:
          type: string
          description: Numbers only, no dash or any other separator
    EncryptedPayloadResponseDTO:
      type: object
      properties:
        encryptedKey:
          type: string
          description: Encrypted key associated to the encrypted payload.
        encryptedPayload:
          type: string
          description: Encrypted payload of all the fields sent in the request.
    Passengers:
      type: object
      properties:
        passenger_index:
          type: integer
          format: int32
          description: Index number to identify passenger
        salutation:
          type: string
          description: Salutation of the customer e.g. "Mr", "Mrs", "Dr", etc.
        first_name:
          type: string
          description: First name of the passenger
        last_name:
          type: string
          description: Last name of the passenger
        date_of_birth:
          type: string
          description: 'D.O.B. of passenger. Format: YYYY-MM-DD'
    MerchantData:
      type: object
      properties:
        brand_name:
          type: string
          description: Merchant Brand name
        custom_data:
          type: object
        website_url:
          type: string
          description: Merchant website.
    FailureResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: This is the unique transaction id generated by Apexx.
        organisation_id:
          type: string
          description: The ID of an organisation.
        code:
          type: string
          description: An alphanumeric code which uniquely identify an error.
        status:
          type: string
          description: It will indicate what is the final result of the request.
        message:
          type: string
          description: A description of the response.
        timestamp:
          type: integer
          format: int64
          description: Current timestamp.
        details:
          type: string
          description: Optional details concerning the error.
        errors:
          type: array
          description: Details of each error occured.
          items:
            $ref: '#/components/schemas/Errors'
        trace_id:
          type: string
          description: Unique trace id created by APEXX platform to trace this request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
    PspInformation:
      type: object
      properties:
        routing_sequence_id:
          type: integer
          format: int32
        psp_id:
          type: string
          description: The ID of the payment service provider.
        psp_name:
          type: string
          description: The name of the payment service provider as setup within the APEXX payment gateway.
        apexx_name:
          type: string
          description: Name of the psp as setup within the APEXX payment gateway.
        acquirer_name:
          type: string
          description: The name of the acquirer as setup within the APEXX payment gateway.
        cascading_acquirer:
          type: string
          description: The name of the acquirer which declined/authorised the cascaded transaction.
        organisation_psp_name:
          type: string
          description: The name of the processor as setup within the APEXX payment gateway. i.e. Merchant Name - Acquirer Name.
        transport_method:
          type: string
        start_time_stamp:
          type: string
        end_time_stamp:
          type: string
        ellapsed_time:
          type: string
        status:
          type: string
          description: The status of the transaction as provided by the psp.
        sub_status:
          type: string
        time_out:
          type: integer
          format: int32
        response_code:
          type: string
          description: The response code received from the payment service provider for the transaction.
        response_message:
          type: string
          description: The response message received from the payment service provider for the transaction.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/PspErrorDTO'
        mid_country:
          type: string
          description: The country setup for the “mid” used to process the transaction as setup within the APEXX payment gateway.
        psp_transaction_reference:
          type: string
          description: The unique id provided by the payment service provider for the transaction.
        category_code:
          type: string
        category_message:
          type: string
        reconciliation_id:
          type: string
          description: Reference number for the transaction generated by the PSP or Acquirer to provide end to end traceability for reconciliation purposes. Only supported by some PSP or Acquirers. Please speak to your implementation number to understand more.
    PaypalSDKCustomer:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the customer.
        last_name:
          type: string
          description: First name of the customer.
        account_number:
          type: string
          description: This is the recipient's account number.
        customer_id:
          type: string
          description: Customer ID of the customer.
        tax_id:
          type: string
          description: The customer's tax ID.
        tax_id_type:
          type: string
          description: The customer's tax ID type.
        email:
          type: string
          description: "Email address of the customer. This would be required for all Direct Debit requests. \n \n Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(‘)"
        phone:
          type: string
          description: "Numbers only, no dash or any other separator.\n \n Note: Length - min(3) & max(20)"
        date_of_birth:
          type: string
          description: The date of birth of a customer, 10 characters, ISO-8601 (YYYY-MM-DD).
        billing:
          description: BillingAddress
          $ref: '#/components/schemas/BillingAddressDetails'
        delivery:
          description: DeliveryAddress
          $ref: '#/components/schemas/DeliveryCustomerSDK'
    PaypalCompleteOrderResponce:
      type: object
      required:
      - merchant_reference
      properties:
        _id:
          type: string
          description: This is the unique id generated by Apexx.
        organisation:
          type: string
          description: The ID of an organisation. Must be submitted along with currency if account is not used in the request.
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction. Please ensure the reference is unique per transaction.
        created_at:
          type: string
          description: The time at which the transaction was created
        last_status_update:
          type: string
          description: The last time when the status of the transaction was updated
        reason_code:
          type: string
          description: A reason code assigned by the acquiring platform; '0' in case of AUTHORISED/CAPTURED, see **[reason codes](#section/Appendix)** section for declined scenarios and **[error codes](#section/Appendix)** section for failed scenarios.
        reason_message:
          type: string
          description: A reason message assigned by the acquiring platform. Reason message will return if reason_code is not 0
        status:
          type: string
          description: Status of the transaction.
          enum:
          - AUTHORISED
          - CAPTURED
          - DECLINED
        acquirer_name:
          type: string
          description: The name of the acquirer as setup within the APEXX payment gateway.
        request_id:
          type: string
          description: Unique Id for each request.
        amount:
          type: string
          description: Indicates the amount of tax based on the type field as described in fields above
        capture_now:
          type: string
          description: True will auto-capture the transaction. False will only authorise the transaction.
        webhook_transaction_update:
          type: string
          description: 'A webhook url that is called when a transaction is updated. Note: This overrides any URL set on the account'
        organisation_psp_name:
          type: string
          description: The name of the processor as setup within the APEXX payment gateway. i.e. Merchant Name - Acquirer Name
        psp_info:
          description: PSP Information.
          $ref: '#/components/schemas/PspInformation'
        customer:
          description: customer has billing and delivery
          $ref: '#/components/schemas/PaypalCustomerResponse'
        alternatepaymentmethods:
          type: string
          description: alternate_payment_methods
        capture_id:
          type: string
          description: This is the unique capture identifier returned in the capture API as _id. Capture Id is a mandatory field for partial captures.
    Items:
      type: object
      required:
      - gross_unit_price
      - item_description
      - net_unit_price
      - product_id
      - quantity
      properties:
        distributor_sku:
          type: string
        item_name:
          type: string
        merchant_sku:
          type: string
        product_id:
          type: string
          description: Merchant Product identification number
        group_id:
          type: string
          description: Item group ID. The group this item belongs to. Provided by the merchant
        item_description:
          type: string
          description: Product name. For example "Black music player 64GB". Everything over 255 characters will be truncated
        net_unit_price:
          type: integer
          format: int64
          description: 'Net unit price.


            Note: net_unit_price is only required if the vat_percent is not provided.'
        gross_unit_price:
          type: integer
          format: int64
          description: Gross price per item
        quantity:
          type: integer
          format: int64
          description: Quantity
        vat_percent:
          type: number
          format: double
          description: Tax percent
        vat_amount:
          type: integer
          format: int64
          description: Tax amount per item
        product_image_url:
          type: string
          description: URL for the image of this product. It will be turned into a thumbnail and displayed in MyAfterPay, on the invoice line next to the order item. The linked image must be a rectangle or square, width between 100 pixels and 1280 pixels.
        product_url:
          type: string
          description: URL to the product
        additional_information:
          type: string
          description: Extended description of the order item
    Point:
      type: object
      properties:
        type:
          type: string
          description: The type or category of points
        scheme:
          type: string
          description: Name of points scheme provider
        used:
          type: integer
          format: int32
          description: Points used this transaction
        balance:
          type: integer
          format: int32
          description: Remaining points balance
    RouteStops:
      type: object
      properties:
        stop:
          type: string
          description: Location of stop off
    DeliveryCustomerSDK:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the delivery customer.
        last_name:
          type: string
          description: Last name of the delivery customer.
        address:
          type: string
          description: Street address of the delivery customer.
        city:
          type: string
          description: City of the delivery customer
        email:
          type: string
          description: "Email address of the customer. This would be required for all Direct Debit requests. \n \n Note: Only alphabets, numeric, @, comma(,) dot(.), plus(+), underscore(_), dash(-) and apostrophe(‘)"
        state:
          type: string
          description: A region / state / province for the address.
        postal_code:
          type: string
          description: 'This is the recipient''s postcode/zip.


            Note: Only alpha-numeric characters, Special characters allowed are hyphen(-) and single space'
        country:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. Country code for the address. Note: Alphabets upto two characters (e.g. GB, RU etc..)'
        phone:
          type: string
          description: Numbers only, no dash or any other separator
        delivery_preference:
          type: string
          description: 'Determines whether the customer can update their delivery address.


            ""GET_FROM_FILE"" - It will allow the customers to change their address from Paypal.


            ""NO_SHIPPING"" - Does not contain any delivery address.


            ""SET_PROVIDED_ADDRESS"" - Will take the address from the request sent by merchant. It will not allow customers to change their address..'
          enum:
          - GET_FROM_FILE
          - NO_SHIPPING
          - SET_PROVIDED_ADDRESS
    Agency:
      type: object
      properties:
        agency_code:
          type: string
          description: Travel agency code
        agency_name:
          type: string
          description: Travel agency name
        agency_address:
          type: string
          description: "Street address of the card holder. \n\nNote:  All characters support "
        agency_city:
          type: string
          description: 'City of the card holder.


            Note: Only alphabetic characters, Special characters allowed are (hyphen(-), underscore(_), dot(.), comma(,))'
        agency_state:
          type: string
          description: 'A region / state / province for the address.


            Note: Only alphabetic characters, Special characters allowed are (hyphen(-), underscore(_), dot(.), comma(,))'
        agency_postal_code:
          type: string
          description: 'A postal code for the address.


            Note: Only alpha-numeric characters'
        agency_country:
          type: string
          description: 'A 2-letter ISO3166 alpha-2. country code for the address


            . Note: Alphabets upto two characters (e.g. GB, RU etc..)'
